﻿@using TranLe.PhapY.Chat
 <!-- BEGIN QUICK SIDEBAR -->
<div class="page-quick-sidebar-wrapper" data-close-on-body-click="false">
    <a href="javascript:;" class="page-quick-sidebar-pinner">
        <i class="icon-pin"></i>
    </a>
    <a href="javascript:;" class="page-quick-sidebar-toggler">
        <i class="icon-speech"></i>
    </a>
    <div class="page-quick-sidebar">
        <div class="tab-content">
            <div class="tab-pane active page-quick-sidebar-chat" id="quick_sidebar_tab_1">
                <div class="page-quick-sidebar-chat-users" data-rail-color="#ddd" data-wrapper-class="page-quick-sidebar-list">
                    <div class="row">
                        <div class="col-md-12" style="padding-top: 30px; margin: 5px; padding-right: 25px;">
                            <div class="input-icon input-icon-sm right">
                                <i id="InterTenantChatHintIcon" class="fa fa-question-circle popovers" data-toggle="popover" data-placement="bottom" data-html="true" title="@L("ChatUserSearch_Hint")"></i>
                                <input type="text" id="ChatUserSearchUserName" class="form-control input-sm" placeholder="@L("FilterOrAddUser")">
                            </div>
                        </div>
                        <div class="col-md-12" style="margin: 5px; padding-right: 25px;">
                            <button id="SearchChatUserButton" type="button" class="btn btn-block btn-success hidden">@L("AddFriend")</button>
                        </div>
                    </div>
                    <div class="panel-group accordion" id="accFriendUsers">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a javascript:; class="accordion-toggle accordion-toggle-styled" data-toggle="collapse" data-parent="#accFriendUsers" data-target="#accFriendUsers_content"> @L("Friends") </a>
                                </h4>
                            </div>
                            <div id="accFriendUsers_content" class="panel-collapse collapse in">
                                <div class="panel-body">
                                    <ul class="media-list list-items" id="friendListFriends"></ul>
                                    <p id="EmptyFriendListInfo">@L("YouDontHaveAnyFriend")</p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="panel-group accordion" id="accBannedUsers">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a javascript:; class="accordion-toggle accordion-toggle-styled collapsed" data-toggle="collapse" data-parent="#accBannedUsers" data-target="#accBannedUsers_content"> @L("BlockedUsers") </a>
                                </h4>
                            </div>
                            <div id="accBannedUsers_content" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <ul class="media-list list-items" id="friendListBlockeds"></ul>
                                    <p id="EmptyBlockedFriendListInfo">@L("YouDontHaveAnyBlockedFriend")</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="page-quick-sidebar-item">
                    <div class="page-quick-sidebar-chat-user">
                        <div class="page-quick-sidebar-nav">
                            <a href="javascript:;" class="page-quick-sidebar-back-to-list">
                                <i class="icon-arrow-left"></i>@L("Back")
                            </a>
                        </div>
                        <div class="selected-chat-user">
                            <div class="selected-chat-user-image">
                                <img id="selectedChatUserImage" class="media-object">
                                <span id="selectedChatUserStatus" class="contact-status"></span>
                            </div>
                            <h5 id="selectedChatUserName"></h5>
                            <div class="actions">
                                <div class="btn-group">
                                    <a class="btn green btn-circle btn-sm" href="javascript:;" data-toggle="dropdown" data-hover="dropdown" data-close-others="true" aria-expanded="false">
                                        <i class="icon-wrench"></i>
                                        <i class="fa fa-angle-down"></i>
                                    </a>
                                    <ul class="dropdown-menu pull-right">
                                        <li id="liBanChatUser">
                                            <a href="javascript:;">
                                                <i class="fa fa-ban"></i>
                                                @L("BlockUser")
                                            </a>
                                        </li>
                                        <li id="liUnbanChatUser">
                                            <a href="javascript:;">
                                                <i class="fa fa-check"></i>
                                                @L("UnblockUser")
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="page-quick-sidebar-chat-user-messages">
                            <div id="UserChatMessages">
                            </div>
                        </div>
                        <div class="page-quick-sidebar-chat-user-form">
                            <form name="chatMessageForm" role="form" novalidate class="form-validation">
                                <div class="col-md-12" style="margin: 5px; padding-right: 25px;">
                                    <button id="UnblockUserButton" type="button" class="btn btn-block btn-success">@L("UnblockUser")</button>
                                </div>
                                <div class="input-group" id="ChatMessageWrapper">
                                    <textarea id="ChatMessage" type="text" name="message" class="form-control" placeholder="@L("TypeAMessageHere")" rows="3" required maxlength="@ChatMessage.MaxMessageLength"></textarea>
                                    <div class="input-group-btn">
                                        <button id="SendChatMessageButton" type="button" class="btn green send-chat-message">
                                            <i class="icon-paper-plane"></i>
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- END QUICK SIDEBAR -->

<script id="UserFriendTemplate" type="x-tmpl-mustache">
    {{#.}}
    <li class="media" data-friend-tenant-id="{{friendTenantId}}" data-friend-user-id="{{friendUserId}}">
        <div class="media-status">
            {{#unreadMessageCount}}
            <span class="badge bg-yellow-casablanca">{{unreadMessageCount}}</span>
            {{/unreadMessageCount}}
            {{^unreadMessageCount}}
            <span class="badge bg-yellow-casablanca hidden">{{unreadMessageCount}}</span>
            {{/unreadMessageCount}}
        </div>
        <img src="{{profilePicturePath}}" class="media-object" alt="...">
        <div class="media-body" style="padding-top: 10px;">
            <h4 class="media-heading">{{shownUserName}}</h4>
        </div>
        {{#isOnline}}
        <span class="contact-status online"></span>
        {{/isOnline}}
        {{^isOnline}}
        <span class="contact-status offline"></span>
        {{/isOnline}}
    </li>
    {{/.}}
</script>

<script id="UserChatMessageTemplate" type="x-tmpl-mustache">
    {{#.}}
    <div class="{{cssClass}}">
        <img class="avatar" alt="" src="{{profilePicturePath}}" />
        <div class="message">
            <span class="arrow"></span>
            <a href="javascript:;" class="name">{{shownUserName}}</a>
            <span class="datetime">
                <time class="timeago" datetime="{{creationTime}}"></time>
            </span>
            <span class="body"> {{message}} </span>
        </div>
    </div>
    {{/.}}
</script>