﻿@using TranLe.PhapY.Configuration.Ui
@model TranLe.PhapY.Web.Areas.Admin.Models.Layout.RightSideBarViewModel
<aside id="rightsidebar" class="right-sidebar">
    <ul class="nav nav-tabs tab-nav-right" role="tablist">
        <li role="presentation" class="active"><a href="#skins" data-toggle="tab">SKINS</a></li>
    </ul>
    <div class="tab-content">
        <div role="tabpanel" class="tab-pane fade in active in active" id="skins">
            <ul class="demo-choose-skin">
                @foreach (var theme in UiThemes.All)
                {
                    <li data-theme="@theme.CssClass" class="@(Model.CurrentTheme != null ? theme.CssClass == Model.CurrentTheme.CssClass ? "active" : "" : "")">
                        <div class="@theme.CssClass"></div>
                        <span>@theme.Name</span>
                    </li>
                }
            </ul>
        </div>
    </div>
</aside>