﻿@using Abp.Application.Navigation
@using Abp.Collections.Extensions
@using TranLe.PhapY.Web.Areas.Admin.Startup
@model TranLe.PhapY.Web.Areas.Admin.Models.Layout.SidebarViewModel
@{
    @helper RenderUserMenuItem(UserMenuItem menuItem, int menuItemIndex, bool rootLevel)
    {
        <li class="@(menuItemIndex == 0 && rootLevel ? "start" : "") @(menuItem.IsMenuActive(Model.CurrentPageName) ? "active" : "")">
            @if (menuItem.Items.IsNullOrEmpty())
            {
                <a href="@menuItem.CalculateUrl(ApplicationPath)">
                    <i class="@menuItem.Icon"></i>
                    <span class="title">@menuItem.DisplayName</span>
                </a>
            }
            else
            {
                <a href="javascript:;" class="auto">
                    <i class="@menuItem.Icon"></i>
                    <span class="title">@menuItem.DisplayName</span>
                    <span class="arrow"></span>
                </a>
                <ul class="sub-menu">
                    @for (var i = 0; i < menuItem.Items.Count; i++)
                    {
                        var childMenuItem = menuItem.Items[i];
                        @RenderUserMenuItem(childMenuItem, i, false)
                    }
                </ul>
            }
        </li>
    }
}
<div class="page-sidebar navbar-collapse collapse">
    <!-- DOC: Apply "page-sidebar-menu-light" class right after "page-sidebar-menu" to enable light sidebar menu style(without borders) -->
    <!-- DOC: Apply "page-sidebar-menu-hover-submenu" class right after "page-sidebar-menu" to enable hoverable(hover vs accordion) sub menu mode -->
    <!-- DOC: Apply "page-sidebar-menu-closed" class right after "page-sidebar-menu" to collapse("page-sidebar-closed" class must be applied to the body element) the sidebar sub menu mode -->
    <!-- DOC: Set data-auto-scroll="false" to disable the sidebar from auto scrolling/focusing -->
    <!-- DOC: Set data-keep-expand="true" to keep the submenues expanded -->
    <!-- DOC: Set data-auto-speed="200" to adjust the sub menu slide up/down speed -->
    <ul class="page-sidebar-menu" data-keep-expanded="false" data-auto-scroll="true" data-slide-speed="200">
        @for (var i = 0; i < Model.Menu.Items.Count; i++)
        {
            var menuItem = Model.Menu.Items[i];
            @RenderUserMenuItem(menuItem, i, true);
        }
    </ul>

</div>
