﻿@using System.Web.Optimization
@using Kendo.Mvc.UI
@using TranLe.PhapY.Web.Navigation
@model TranLe.PhapY.TrinhDos.Dto.TrinhDoDto
@{
    ViewBag.CurrentPageName = PageNames.App.Tenant.TrinhDos;
}
@Scripts.Render("~/Areas/Admin/Views/TrinhDo/AddOrEdit.js")
<div class="container-fluid" id="contentFluidKendo">
    @using (Ajax.BeginForm("", "", null, new AjaxOptions
    {
        HttpMethod = "POST",
        Url = Model.Id > 0 ? "/TrinhDo/Edit" : "/TrinhDo/Add",
        OnSuccess = "AddOrEditTrinhDoSuccess",
        OnBegin = "AddOrEditTrinhDoBegin"
    }, new { id = "form-trinhdo", @class = "custom-form" }))
    {
        @Html.HiddenFor(m => m.Id)

        <div class="row">
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-12">
                        <fieldset>
                            <legend>Thông tin trình độ:</legend>
                            <div class="form-group">
                                <span class="control-label">Tên trình độ</span>
                                @Html.EditorFor(model => model.TenTrinhDo, new { htmlAttributes = new { @class = "form-control" } })
                                @*@Html.ValidationMessageFor(model => model.TenTrinhDo)*@
                            </div>
                            <div class="form-group">
                                <span class="control-label">Diễn giải</span>
                                @Html.EditorFor(model => model.DienGiai, new { htmlAttributes = new { @class = "form-control" } })
                                @*@Html.ValidationMessageFor(model => model.DienGiai)*@
                            </div>

                        </fieldset>
                    </div>
                </div>
            </div>
            <div class="row col-md-12">
                <button id="btn-save-trinh-do" style="width:70px" class="btn btn-primary pull-right"> <i class="fa fa-floppy-o"></i> Lưu </button>
            </div>
        </div>
    }
</div>