﻿@using System.Web.Optimization
@using Kendo.Mvc.UI
@using TranLe.PhapY.Authorization
@using TranLe.PhapY.TrinhDos.Dto
@using TranLe.PhapY.Web.Navigation
@{
    ViewBag.CurrentPageName = PageNames.App.Tenant.TrinhDos;
    //The menu item will be active for this page.
}
@{
    //Layout = null;
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Layout/_Layout.cshtml";
}
@Scripts.Render("~/Areas/Admin/Views/TrinhDo/Index.js")

@section scripts {
    <script type="text/javascript">
        $(document).ready(function () {
            $('#btn-create-new-trinhDo').click(function (e) {
                e.preventDefault();
                var wnd = $("#TrinhDoPopup").data("kendoWindow");
                if (wnd) {
                    wnd.refresh({
                        url: "/TrinhDo/Add"
                    });
                    wnd.title("Thêm mới Trình Độ");
                    wnd.center().open();
                    wnd.maximize();
                }
            });
        })

    </script>
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div class="container-fluid">
        @if (IsGranted(AppPermissions.Pages_TrinhDo_Create))
        {
            <div class="row">
                <div class="col-md-12">
                    <a id="btn-create-new-trinhDo" class="btn btn-primary pull-right"
                       href="javasript:void(0)"><i class="fa fa-plus"></i>Tạo mới trình độ</a>
                </div>
            </div>
        }

        <div class="row margin-top-10">
            <div class="col-md-12">
                @(Html.Kendo().Grid<TrinhDoDto>()
                          .Name("trinhdoGrid")
                          .Deferred()
                          .Columns(columns =>
                          {
                              columns.Bound(c => c.TenTrinhDo)
                                  .Title("Tên trình độ")
                                  .Filterable(ftb => ftb.Cell(cell => cell.ShowOperators(false).Operator("contains").SuggestionOperator(FilterType.Contains)));
                              columns.Bound(c => c.DienGiai)
                                  .Title("Diễn giải")
                                  .Filterable(ftb => ftb.Cell(cell => cell.ShowOperators(false).Operator("contains").SuggestionOperator(FilterType.Contains)));

                              if (IsGranted(AppPermissions.Pages_TrinhDo_Update) || IsGranted(AppPermissions.Pages_TrinhDo_Delete))
                              {
                                  columns.Command(command =>
                                  {
                                      if (IsGranted(AppPermissions.Pages_TrinhDo_Update))
                                      {
                                          command.Custom("Cập nhật").Click("editTrinhDo");
                                      }
                                      if (IsGranted(AppPermissions.Pages_TrinhDo_Delete))
                                      {
                                          command.Custom("Xóa").Click("deleteTrinhDo");
                                      }
                                  })
                                  .Width(200);
                              }
                          })
                          .Scrollable(s => s.Enabled(false))
                          .Sortable()
                          .Filterable(ftb => ftb.Mode(GridFilterMode.Row))
                          .Pageable(pageable => pageable
                              .Refresh(true)
                              .PageSizes(new List<int> { 20, 50, 100 }))
                          .DataSource(dataSource => dataSource
                              .Ajax()
                              .Sort(x => x.Add(s => s.Id).Descending())
                              .PageSize(20)
                              .Model(model =>
                              {
                                  model.Id(p => p.Id);
                              })
                              .Read("GetTrinhDos", "TrinhDo")
                          )
                )
            </div>
        </div>
    </div>
</body>
</html>

@(Html.Kendo().Window().Name("TrinhDoPopup")
          .Title("Distributor Details")
          .Visible(false)
          .Deferred()
          .Modal(true)
          .Events(e => e
              .Close("onTrinhDoPopupClose")
              .Open("onTrinhDoPopupOpen"))
          .Draggable(false)
)
