﻿//Theme BrightGray
$theme-BrightGray: #3B3F51;
$theme-BrightGray-menu-toggler-i:#fff;
$theme-BrightGray-dropdown-toggle-any:#aeb2c4;
//dropdown-menu-default
$theme-BrightGray-dropdown-menu-default:#575d77;
$theme-BrightGray-dropdown-menu-default-after:#575d77;
$theme-BrightGray-dropdown-menu-default-a:#dadce4;
$theme-BrightGray-dropdown-menu-default-a-hover:#606683;
$theme-BrightGray-dropdown-menu-default-a-i:#bcc0cf;
$theme-BrightGray-dropdown-menu-default-divider:#646b89;
$theme-BrightGray-dropdown-menu-default-submenu:#536470;
//dropdown-menu
$theme-BrightGray-dropdown-hover:#3f4457;
$theme-BrightGray-dropdown-notification-i:#737a99;
$theme-BrightGray-dropdown-quick-sidebar-i:#c0cddc;
$theme-BrightGray-dropdown-js-right-sidebar-i:#fff;

//Theme Charade
$theme-Charade: #2C2D3A;
$theme-Charade-menu-toggler-i:#fff;
$theme-Charade-dropdown-toggle-any:#aeb2c4;
//dropdown-menu-default
$theme-Charade-dropdown-menu-default:#575d77;
$theme-Charade-dropdown-menu-default-after:#575d77;
$theme-Charade-dropdown-menu-default-a:#fff;
$theme-Charade-dropdown-menu-default-a-hover:#606683;
$theme-Charade-dropdown-menu-default-a-i:#fff;
$theme-Charade-dropdown-menu-default-divider:#646b89;
$theme-Charade-dropdown-menu-default-submenu:#536470;
//dropdown-menu
$theme-Charade-dropdown-hover:#3f4457;
$theme-Charade-dropdown-notification-i:#737a99;
$theme-Charade-dropdown-quick-sidebar-i:#fff;
$theme-Charade-dropdown-js-right-sidebar-i:#fff;

//Theme SanMarino
$theme-SanMarino: #3F51B5; // menu chinh
$theme-SanMarino-menu-toggler-i:#fff; // nut toogle menu
$theme-SanMarino-dropdown-toggle-any:#fff; // cac nut khac
//dropdown-menu-default (ul ẩn)
$theme-SanMarino-dropdown-menu-default:#17298C; // menu dropdown ben phai 
$theme-SanMarino-dropdown-menu-default-after:#17298C; // mui ten cua dropdown
$theme-SanMarino-dropdown-menu-default-a:#fff; // color text
$theme-SanMarino-dropdown-menu-default-a-hover:#4C5DB8; // background a khi hover
$theme-SanMarino-dropdown-menu-default-a-i:#fff; // color i
$theme-SanMarino-dropdown-menu-default-divider:#6677D1; // gach ngang
$theme-SanMarino-dropdown-menu-default-submenu:#6677D1; // submenu (dang la Manage Accounts)
//dropdown-menu (li hiện)
$theme-SanMarino-dropdown-hover:#17298C; // background luc hover vao li.dropdown
$theme-SanMarino-dropdown-notification-i:#fff;
$theme-SanMarino-dropdown-quick-sidebar-i:#fff;
$theme-SanMarino-dropdown-js-right-sidebar-i:#fff;

//Theme OrangePeel
$theme-OrangePeel: #FF9800; // menu chinh
$theme-OrangePeel-menu-toggler-i:#fff; // nut toogle menu
$theme-OrangePeel-dropdown-toggle-any:#fff; // cac nut khac
//dropdown-menu-default (ul ẩn)
$theme-OrangePeel-dropdown-menu-default:#FF7C00; // menu dropdown ben phai 
$theme-OrangePeel-dropdown-menu-default-after:#FF7C00; // mui ten cua dropdown
$theme-OrangePeel-dropdown-menu-default-a:#fff; // color text
$theme-OrangePeel-dropdown-menu-default-a-hover:#F08F33; // background a khi hover
$theme-OrangePeel-dropdown-menu-default-a-i:#fff; // color i
$theme-OrangePeel-dropdown-menu-default-divider:#F19946; // gach ngang
$theme-OrangePeel-dropdown-menu-default-submenu:#F19946; // submenu (dang la Manage Accounts)
//dropdown-menu (li hiện)
$theme-OrangePeel-dropdown-hover:#FF7C00; // background luc hover vao li.dropdown
$theme-OrangePeel-dropdown-notification-i:#fff;
$theme-OrangePeel-dropdown-quick-sidebar-i:#fff;
$theme-OrangePeel-dropdown-js-right-sidebar-i:#fff;

//Theme Green
$theme-Green: #4CAF50; // menu chinh
$theme-Green-menu-toggler-i:#fff; // nut toogle menu
$theme-Green-dropdown-toggle-any:#fff; // cac nut khac
//dropdown-menu-default (ul ẩn)
$theme-Green-dropdown-menu-default:#439846; // menu dropdown ben phai 
$theme-Green-dropdown-menu-default-after:#439846; // mui ten cua dropdown
$theme-Green-dropdown-menu-default-a:#fff; // color text
$theme-Green-dropdown-menu-default-a-hover:#4CAF50; // background a khi hover
$theme-Green-dropdown-menu-default-a-i:#fff; // color i
$theme-Green-dropdown-menu-default-divider:#4CB851; // gach ngang
$theme-Green-dropdown-menu-default-submenu:#4CB851; // submenu (dang la Manage Accounts)
//dropdown-menu (li hiện)
$theme-Green-dropdown-hover:#439846; // background luc hover vao li.dropdown
$theme-Green-dropdown-notification-i:#fff;
$theme-Green-dropdown-quick-sidebar-i:#fff;
$theme-Green-dropdown-js-right-sidebar-i:#fff;


//Theme Pomegranate
$theme-Pomegranate: #F44336; // menu chinh
$theme-Pomegranate-menu-toggler-i:#fff; // nut toogle menu
$theme-Pomegranate-dropdown-toggle-any:#fff; // cac nut khac
//dropdown-menu-default (ul ẩn)
$theme-Pomegranate-dropdown-menu-default:#EB3628; // menu dropdown ben phai 
$theme-Pomegranate-dropdown-menu-default-after:#EB3628; // mui ten cua dropdown
$theme-Pomegranate-dropdown-menu-default-a:#fff; // color text
$theme-Pomegranate-dropdown-menu-default-a-hover:#F44336; // background a khi hover
$theme-Pomegranate-dropdown-menu-default-a-i:#fff; // color i
$theme-Pomegranate-dropdown-menu-default-divider:#F24D40; // gach ngang
$theme-Pomegranate-dropdown-menu-default-submenu:#F24D40; // submenu (dang la Manage Accounts)
//dropdown-menu (li hiện)
$theme-Pomegranate-dropdown-hover:#EB3628; // background luc hover vao li.dropdown
$theme-Pomegranate-dropdown-notification-i:#fff;
$theme-Pomegranate-dropdown-quick-sidebar-i:#fff;
$theme-Pomegranate-dropdown-js-right-sidebar-i:#fff;