@import '_theme-color-variables';

.theme-Charade {
    .page-header.navbar {
        background-color: $theme-Charade;
        .menu-toggler{
            background-image: none;
            > i.fa.fa-bars{
                font-size: 24px;
                color:$theme-Charade-menu-toggler-i;
            }
        }
        .page-top{
            .top-menu{
                .nav.navbar-nav{
                    > li.dropdown-language{
                        > .dropdown-toggle{ 
                            > .langname{
                                color: $theme-Charade-dropdown-toggle-any;
                            }
                        }
                    }
                    > li.dropdown-user{
                        > .dropdown-toggle{ 
                            > .username{
                                color: $theme-Charade-dropdown-toggle-any;
                            }
                            > i{
                                color: $theme-Charade-dropdown-toggle-any;
                            }
                        }
                        //dropdown-menu-default
                        > .dropdown-menu-default{
                            background: $theme-Charade-dropdown-menu-default;
                            &::after{
                                border-bottom-color: $theme-SanMarino-dropdown-menu-default-after !important;
                            }
                            > li {
                                > a{
                                    color: $theme-Charade-dropdown-menu-default-a;
                                    &:hover{
                                        background: $theme-Charade-dropdown-menu-default-a-hover;
                                    }
                                    > i {
                                        color: $theme-Charade-dropdown-menu-default-a-i;
                                    }
                                }
                            }
                            > li.divider {
                                background: $theme-Charade-dropdown-menu-default-divider;
                            }
                            > li.submenu{
                                background-color: $theme-Charade-dropdown-menu-default-submenu !important;
                            }
                        }
                    }
                    //dropdown-menu
                    > li.dropdown,> li.dropdown.open {
                        .dropdown-toggle{
                            &:hover {
                                background-color: $theme-Charade-dropdown-hover;
                            }
                        }
                        .dropdown-menu#UserNotificationDropdown{
                            background: $theme-Charade-dropdown-menu-default-a-hover;
                            > li.external.notifications-header{
                                background: $theme-Charade-dropdown-menu-default;
                            }
                        }
                    }
                    > li.dropdown.open{
                        .dropdown-toggle{
                            background-color: $theme-Charade-dropdown-hover;
                        }
                    }
                    > li.dropdown.dropdown-notification {
                        .dropdown-toggle{
                            > i{
                                color:$theme-Charade-dropdown-notification-i;
                            }
                        }
                    }
                    > li.quick-sidebar-toggler {
                        > i{
                            color:$theme-Charade-dropdown-notification-i;
                        }
                    }
                    > li{
                        .js-right-sidebar{
                            &:hover,&:focus{
                               background-color: $theme-Charade-dropdown-menu-default; 
                            }
                            .material-icons{
                                color:$theme-Charade-dropdown-js-right-sidebar-i;
                            }
                        }
                    }
                }
            }
        }
    }
}
