﻿@using System.Web.Optimization
@using Kendo.Mvc.UI
@using TranLe.PhapY.Web.Navigation
@model TranLe.PhapY.BenhNhans.Dto.BenhNhanDto
@{
    ViewBag.CurrentPageName = PageNames.App.Tenant.BenhNhans;
}
@Scripts.Render("~/Areas/Admin/Views/BenhNhan/AddOrEdit.js")
<div class="container-fluid" id="contentFluidKendo">

    @using (Html.BeginForm((int)Model.Id > 0 ? "Edit" : "Add", "BenhNhan", FormMethod.Post, new { @class = "custom-form", id = "form-benhnhan", enctype = "multipart/form-data" }))
    {
        @Html.HiddenFor(m => m.Id)

        <div class="row">
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-12">
                        <fieldset>
                            <legend>Thông tin bệnh nhân:</legend>
                            <div class="form-group">
                                <span class="control-label">Họ tên</span>
                                @Html.EditorFor(model => model.HoTen, new { htmlAttributes = new { @class = "form-control" } })
                            </div>
                            <div class="form-group">
                                <span class="control-label">Giới Tính</span>
                                @(Html.Kendo().CheckBox().Name("GioiTinh").Checked(Model.GioiTinh).Label("Nam"))
                            </div>
                            <div class="form-group">
                                <span class="control-label">Ngày Sinh</span>
                                @Html.EditorFor(m => m.NamSinh)
                            </div>
                            <div class="form-group">
                                <span class="control-label">Địa chỉ</span>
                                @Html.EditorFor(model => model.DiaChi, new { htmlAttributes = new { @class = "form-control" } })
                            </div>
                            <div class="form-group">
                                <span class="control-label">Số điện thoại</span>
                                @Html.EditorFor(model => model.SoDt, new { htmlAttributes = new { @class = "form-control" } })
                            </div>
                            <div class="form-group">
                                <span class="control-label">Dân tộc</span>
                                @Html.EditorFor(model => model.ThongTinCaNhan.DanToc, new { htmlAttributes = new { @class = "form-control" } })
                            </div>
                            <div class="form-group">
                                <span class="control-label">Tôn giáo</span>
                                @Html.EditorFor(model => model.ThongTinCaNhan.TonGiao, new { htmlAttributes = new { @class = "form-control" } })
                            </div>
                            <div class="form-group">
                                <span class="control-label">Quốc Tịch</span>
                                @Html.EditorFor(model => model.ThongTinCaNhan.QuocTich, new { htmlAttributes = new { @class = "form-control" } })
                            </div>
                            <div class="form-group">
                                <span class="control-label">Nghề Nghiệp</span>
                                @Html.EditorFor(model => model.ThongTinCaNhan.NgheNghiep, new { htmlAttributes = new { @class = "form-control" } })
                            </div>
                            <div class="form-group">
                                <span class="control-label">Trình Độ Văn Hóa</span>
                                @Html.EditorFor(model => model.ThongTinCaNhan.TrinhDoVanHoa, new { htmlAttributes = new { @class = "form-control" } })
                            </div>

                        </fieldset>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="avatar-wrap col-md-4">
                    <div class="avatar-upload-zone">
                        @Html.HiddenFor(model => model.ThongTinCaNhan.AvatarName)
                        <input id="avatarUpload" accept="image/jpeg, image/png" onchange="ShowImagePreview(this, document.getElementById('imagePreview'))" name="Avatar" type="file" />
                        <label for="avatarUpload">
                            <img src="@(Model.Id > 0 ? "/Data/BenhNhan/Avatar/" + Model.ThongTinCaNhan.AvatarName : "")" alt="" id="imagePreview" />
                        </label>
                    </div>
                </div>
            </div>
            <div class="row col-md-12">
                <button id="btn-save-benh-nhan" style="width:70px" class="btn btn-primary pull-right"> <i class="fa fa-floppy-o"></i> Lưu </button>
            </div>
        </div>
    }
</div>