﻿@using System.Web.Optimization
@using Kendo.Mvc.UI
@using TranLe.PhapY.Authorization;
@using TranLe.PhapY.Web.Navigation
@using TranLe.PhapY.BenhNhans.Dto
@{
    ViewBag.CurrentPageName = PageNames.App.Tenant.BenhNhans; //The menu item will be active for this page.
}
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Layout/_Layout.cshtml";
}
@Scripts.Render("~/Areas/Admin/Views/BenhNhan/Index.js")
@section scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            $('#btn-create-new-benhNhan').click(function (e) {
                e.preventDefault();
                var wnd = $("#BenhNhanPopup").data("kendoWindow");
                if (wnd) {
                    wnd.refresh({
                        url: "/BenhNhan/Add"
                    });
                    wnd.title("Thêm mới Bệnh Nhân");
                    wnd.center().open();
                    wnd.maximize();
                }
            });
        });
    </script>
}
<div class="container-fluid">
    @if (IsGranted(AppPermissions.Pages_BenhNhan_Create))
    {
        <div class="row">
            <div class="col-md-12">
                <a id="btn-create-new-benhNhan" class="btn btn-primary pull-right" href="javascript:void(0)"><i class="fa fa-plus"></i> Tạo mới bệnh nhân</a>
            </div>
        </div>
    }

    <div class="row margin-top-10">
        <div class="col-md-12">
            @(Html.Kendo().Grid<BenhNhanDto>()
                                  .Name("benhnhanGrid")
                                  .Deferred()
                                  .Columns(columns =>
                                  {
                                      columns.Bound(c => c.HoTen)
                                          .Title("Họ tên")
                                          .Filterable(ftb => ftb.Cell(cell => cell.ShowOperators(false).Operator("contains").SuggestionOperator(FilterType.Contains)));
                                      columns.Bound(c => c.SoDt)
                                          .Title("Số điện thoại")
                                          .Filterable(ftb => ftb.Cell(cell => cell.ShowOperators(false).Operator("contains").SuggestionOperator(FilterType.Contains)));
                                      columns.Bound(c => c.DiaChi)
                                          .Title("Địa chỉ")
                                          .Filterable(ftb => ftb.Cell(cell => cell.ShowOperators(false).Operator("contains").SuggestionOperator(FilterType.Contains)));
                                      columns.Bound(c => c.NamSinh)
                                          .Title("Ngày sinh")
                                          .ClientTemplate("#: kendo.toString(NamSinh, 'dd/MM/yyyy')#")
                                          .Filterable(ftb => ftb.Enabled(false));
                                      columns.Bound(c => c.GioiTinh)
                                          .Title("Giới tính")
                                          .Filterable(ftb => ftb.Enabled(false))
                                          .ClientTemplate(@"# if(GioiTinh) { #" + "<b>Nam</b>" + "# } else { #" + "<b>Nữ</b>" + "#}#");
                                      if (IsGranted(AppPermissions.Pages_BenhNhan_Update) || IsGranted(AppPermissions.Pages_BenhNhan_Delete))
                                      {
                                          columns.Command(command =>
                                          {
                                              if (IsGranted(AppPermissions.Pages_BenhNhan_Update))
                                              {
                                                  command.Custom("Cập nhật").Click("editBenhNhan");
                                              }
                                              if (IsGranted(AppPermissions.Pages_BenhNhan_Delete))
                                              {
                                                  command.Custom("Xóa").Click("deleteBenhNhan");
                                              }
                                          })
                                          .Width(180);
                                      }
                                  })
                                  .Scrollable(s => s.Enabled(false))
                                  .Sortable()
                                  .Filterable(ftb => ftb.Mode(GridFilterMode.Row))
                                  .Pageable(pageable => pageable
                                      .Refresh(true)
                                      .PageSizes(new List<int> { 20, 50, 100 }))
                                  .DataSource(dataSource => dataSource
                                      .Ajax()
                                      .Sort(x => x.Add(s => s.Id).Descending())
                                      .PageSize(20)
                                      .Model(model =>
                                      {
                                          model.Id(p => p.Id);
                                      })
                                      .Read("ListBenhNhans", "BenhNhan")
                                  )

            )
        </div>
    </div>
</div>
@(Html.Kendo().Window().Name("BenhNhanPopup")
              .Title("Distributor Details")
              .Visible(false)
              .Deferred()
              .Modal(true)
              .Events(e => e
                  .Close("onBenhNhanPopupClose")
                  .Open("onBenhNhanPopupOpen"))
              .Draggable(false)
)