﻿@using Abp.Organizations
@using TranLe.PhapY.Web.Areas.Admin.Models.Common.Modals
@model TranLe.PhapY.Web.Areas.Admin.Models.OrganizationUnits.CreateOrganizationUnitModalViewModel

@Html.Partial("~/Areas/Admin/Views/Common/Modals/_ModalHeader.cshtml", new ModalHeaderViewModel(L("NewOrganizationUnit")))

<div class="modal-body">
    <form name="OrganizationUnitForm" role="form" novalidate class="form-validation">
        <input type="hidden" name="ParentId" value="@Model.ParentId" />
        <div class="form-group form-md-line-input form-md-floating-label no-hint">
            <input class="form-control" type="text" name="DisplayName" required maxlength="@OrganizationUnit.MaxDisplayNameLength">
            <label>@L("Name")</label>
        </div>
    </form>
</div>

@Html.Partial("~/Areas/Admin/Views/Common/Modals/_ModalFooterWithSaveAndCancel.cshtml")