﻿@using Abp.Organizations
@using TranLe.PhapY.Web.Areas.Admin.Models.Common.Modals
@model TranLe.PhapY.Web.Areas.Admin.Models.OrganizationUnits.EditOrganizationUnitModalViewModel

@Html.Partial("~/Areas/Admin/Views/Common/Modals/_ModalHeader.cshtml", new ModalHeaderViewModel(L("Edit") + ": " + Model.DisplayName))

<div class="modal-body">
    <form name="OrganizationUnitForm" role="form" novalidate class="form-validation">
        <input type="hidden" name="Id" value="@Model.Id" />
        <div class="form-group form-md-line-input form-md-floating-label no-hint">
            <input class="form-control edited" type="text" name="DisplayName" value="@Model.DisplayName" required maxlength="@OrganizationUnit.MaxDisplayNameLength">
            <label>@L("Name")</label>
        </div>
    </form>
</div>

@Html.Partial("~/Areas/Admin/Views/Common/Modals/_ModalFooterWithSaveAndCancel.cshtml")