﻿@using System.Web.Optimization
@using TranLe.PhapY.Web.Navigation
@model TranLe.PhapY.ChucVus.Dto.ChucVuDto
@{
    ViewBag.CurrentPageName = PageNames.App.Tenant.ChucVus;
}
@Scripts.Render("~/Areas/Admin/Views/ChucVu/AddOrEdit.js")
<div class="container-fluid" id="contentFluidKendo">
    @using (Ajax.BeginForm("","", null, new AjaxOptions
    {
        HttpMethod = "POST",
        Url = Model.Id > 0 ? "/ChucVu/Edit" : "/ChucVu/Add",
        OnSuccess = "AddOrEditChucVuSuccess",
        OnBegin = "AddOrEditChucVuBegin"
    }, new { id = "form-chucvu", @class = "custom-form" }))
    {
        @Html.HiddenFor(m => m.Id)
        <div class="row">
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-12">
                        <fieldset>
                            <legend>Thông tin chức vụ:</legend>
                            <div class="form-group">
                                <span class="control-label">Tên chức vụ</span>
                                @Html.EditorFor(model => model.TenChucVu, new { htmlAttributes = new { @class = "form-control" } })
                            </div>
                            <div class="form-group">
                                <span class="control-label">Diễn giải</span>
                                @Html.EditorFor(model => model.DienGiai, new { htmlAttributes = new { @class = "form-control" } })
                            </div>
                        </fieldset>
                    </div>
                </div>
            </div>
            <div class="row col-md-12">
                <button id="btn-save-trinh-do" style="width:70px" class="btn btn-primary pull-right">
                    <i class="fa fa-floppy-o"></i> Lưu
                </button>
            </div>
        </div>
    }
</div>