﻿@using System.Web.Optimization
@using Kendo.Mvc.UI
@model TranLe.PhapY.LoaiHoSos.Dto.LoaiHoSoDto

@Scripts.Render("~/Areas/Admin/Views/LoaiHoSo/AddOrEdit.js")
<div class="container-fluid" id="contentFluidKendo">
    @using (Ajax.BeginForm("", "", null, new AjaxOptions
    {
        HttpMethod = "POST",
        Url = (int)Model.Id > 0 ? "/LoaiHoSo/Edit" : "/LoaiHoSo/Add",
        OnSuccess = "AddOrEditLoaiHoSoSuccess",
        OnBegin = "AddOrEditLoaiHoSoBegin"
    }, new { id = "form-loaihoso", @class = "custom-form" }))
    {
        @Html.HiddenFor(m => m.Id)

        <div class="row">
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-12">
                        <fieldset>
                            <legend>Thông tin loại hồ sơ:</legend>
                            <div class="form-group">
                                <span class="control-label">Tên loại hồ sơ</span>
                                @Html.EditorFor(model => model.TenLoaiHs, new { htmlAttributes = new { @class = "form-control" } })
                            </div>
                        </fieldset>
                    </div>
                </div>
            </div>
            <div class="row col-md-12">
                <button id="btn-save-trinh-do" style="width:70px" class="btn btn-primary pull-right"> <i class="fa fa-floppy-o"></i> Lưu </button>
            </div>
        </div>
    }
</div>
@Scripts.Render("~/Bundles/jqueryval")