﻿@using System.Web.Optimization
@using Kendo.Mvc.UI
@using TranLe.PhapY.Authorization
@using TranLe.PhapY.Web.Navigation
@using TranLe.PhapY.LoaiHoSos.Dto
@{
    ViewBag.ActiveMenu = PageNames.App.Tenant.LoaiHoSos;
    //The menu item will be active for this page.
}
@{
    //Layout = null;
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Layout/_Layout.cshtml";
}
@Scripts.Render("~/Areas/Admin/Views/LoaiHoSo/Index.js")

@section scripts {
    <script type="text/javascript">
        $(document).ready(function () {
            $('#btn-create-new-loaiHoSo').click(function (e) {
                e.preventDefault();
                var wnd = $("#LoaiHoSoPopup").data("kendoWindow");
                if (wnd) {
                    wnd.refresh({
                        url: "/LoaiHoSo/Add"
                    });
                    wnd.title("Thêm mới loại hồ sơ");
                    wnd.center().open();
                    wnd.maximize();
                }
            });
        })

    </script>
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div class="container-fluid">
        @if (IsGranted(AppPermissions.Pages_LoaiHoSo_Create))
        {
            <div class="row">
                <div class="col-md-12">
                    <a id="btn-create-new-loaiHoSo" class="btn btn-primary pull-right"
                       href="javasript:void(0)"><i class="fa fa-plus"></i>Tạo mới loại hồ sơ</a>
                </div>
            </div>
        }

        <div class="row margin-top-10">
            <div class="col-md-12">
                @(Html.Kendo().Grid<LoaiHoSoDto>()
                          .Name("loaihosoGrid")
                          .Deferred()
                          .Columns(columns =>
                          {
                              columns.Bound(c => c.TenLoaiHs)
                                  .Title("Tên loại hồ sơ")
                                  .Filterable(ftb => ftb.Cell(cell => cell.ShowOperators(false).Operator("contains").SuggestionOperator(FilterType.Contains)));
                              if (IsGranted(AppPermissions.Pages_LoaiHoSo_Update) || IsGranted(AppPermissions.Pages_LoaiHoSo_Delete))
                              {
                                  columns.Command(command =>
                                  {
                                      if (IsGranted(AppPermissions.Pages_LoaiHoSo_Update))
                                      {
                                          command.Custom("Cập nhật").Click("editLoaiHoSo");
                                      }
                                      if (IsGranted(AppPermissions.Pages_LoaiHoSo_Delete))
                                      {
                                          command.Custom("Xóa").Click("deleteLoaiHoSo");
                                      }
                                  })
                                  .Width(200);
                              }
                          })
                          .Scrollable(s => s.Enabled(false))
                          .Sortable()
                          .Filterable(ftb => ftb.Mode(GridFilterMode.Row))
                          .Pageable(pageable => pageable
                              .Refresh(true)
                              .PageSizes(new List<int> { 20, 50, 100 }))
                          .DataSource(dataSource => dataSource
                              .Ajax()
                              .PageSize(20)
                              .Model(model =>
                              {
                                  model.Id(p => p.Id);
                              })
                              .Read("GetLoaiHoSos", "LoaiHoSo")
                          )
                )
            </div>
        </div>
    </div>
</body>
</html>

@(Html.Kendo().Window().Name("LoaiHoSoPopup")
          .Title("Distributor Details")
          .Visible(false)
          .Deferred()
          .Modal(true)
          .Events(e => e
              .Close("onLoaiHoSoPopupClose")
              .Open("onLoaiHoSoPopupOpen"))
          .Draggable(false)
)
