﻿@using Abp.Web.Mvc.Extensions
@using TranLe.PhapY.MultiTenancy
@section Scripts
{
    @Html.IncludeScript("~/Views/Account/EmailActivation.js")
}
<div class="row bs-reset">
    <div class="col-md-6 bs-reset mt-login-5-bsfix">
        <div class="login-bg">
            <a href="~/" class="login-logo">
                @Html.Action("AppLogo", "Account", new { area = "", appPath = ApplicationPath, width = 149, height = 35 })
            </a>
        </div>
    </div>
    <div class="col-md-6 login-container bs-reset mt-login-5-bsfix">
        <div class="login-content">
            <form class="email-activation-form" action="@Url.Action("SendEmailActivationLink")" method="post">
                <h3>@L("EmailActivation")</h3>
                <p>
                    @L("SendEmailActivationLink_Information")
                </p>
                @Html.AntiForgeryToken()
                @if (ViewBag.IsMultiTenancyEnabled)
                {
                    if (string.IsNullOrEmpty(ViewBag.TenancyName))
                    {
                        <div class="form-group">
                            <label class="control-label visible-ie8 visible-ie9">@L("TenancyName")</label>
                            <input class="form-control form-control-solid placeholder-no-fix input-ltr" type="text" placeholder="@L("TenancyName")" name="tenancyName" maxlength="@Tenant.MaxTenancyNameLength" />
                        </div>
                    }
                    else
                    {
                        <input type="hidden" name="tenancyName" value="@ViewBag.TenancyName" />
                    }
                }
                <div class="form-group">
                    <label class="control-label visible-ie8 visible-ie9">@L("EmailAddress")</label>
                    <input class="form-control placeholder-no-fix" type="email" autocomplete="off" placeholder="@L("EmailAddress")" name="EmailAddress" required maxlength="@TranLe.PhapY.Authorization.Users.User.MaxEmailAddressLength" />
                </div>
                <div class="form-actions">
                    <a href="@Url.Action("Login", "Account")"><button type="button" id="back-btn" class="btn btn-default">@L("Back")</button></a>
                    <button type="submit" class="btn btn-success uppercase pull-right">@L("Submit")</button>
                </div>
            </form>
        </div>
    </div>
</div>