﻿@using System.Web.Script.Serialization
@using Abp.Web.Mvc.Extensions
@model TranLe.PhapY.Web.Models.Account.ResetPasswordViewModel
@section Scripts
{
    <script>
        window.passwordComplexitySetting = @(new JavaScriptSerializer().Serialize(Model.PasswordComplexitySetting).Replace("\"", ""));
    </script>
    @Html.IncludeScript("~/Views/Account/ResetPassword.js")
}
<div class="row bs-reset">
    <div class="col-md-6 bs-reset mt-login-5-bsfix">
        <div class="login-bg">
            <a href="~/" class="login-logo">
                @Html.Action("AppLogo", "Account", new { area = "", appPath = ApplicationPath, width = 149, height = 35 })
            </a>
        </div>
    </div>
    <div class="col-md-6 login-container bs-reset mt-login-5-bsfix">
        <div class="login-content">
            <form class="pass-reset-form" action="@Url.Action("ResetPassword")" method="post">
                @Html.AntiForgeryToken()
                <h3>@L("ChangePassword")</h3>
                <p>
                    @L("PleaseEnterYourNewPassword")
                </p>
                <input type="hidden" name="TenantId" value="@Model.TenantId">
                <input type="hidden" name="UserId" value="@Model.UserId">
                <input type="hidden" name="ResetCode" value="@Model.ResetCode">
                <div class="form-group">
                    <label class="control-label visible-ie8 visible-ie9">@L("Password")</label>
                    <input class="form-control placeholder-no-fix" type="password" autocomplete="off" id="Password" placeholder="@L("Password")" name="Password" required />
                </div>
                <div class="form-group">
                    <label class="control-label visible-ie8 visible-ie9">@L("PasswordRepeat")</label>
                    <input class="form-control placeholder-no-fix" type="password" autocomplete="off" placeholder="@L("PasswordRepeat")" name="PasswordRepeat" required />
                </div>
                <div class="form-actions">
                    <button type="submit" class="btn btn-success uppercase pull-right">@L("Submit")</button>
                </div>
            </form>
        </div>
    </div>
</div>