﻿@using System.Web.UI.WebControls
@using Kendo.Mvc.UI
@using System.Web.Optimization
@using TranLe.PhapY.Web.Helpers
@model TranLe.PhapY.HoSos.Dto.HoSoKhamTrinhDto
<style type="text/css">
    .custom-form {
        text-transform: capitalize;
    }

        .custom-form .form-group .form-control {
            width: 100%;
        }

    .k-checkbox-label {
        display: block !important;
        margin-top: 8px !important;
    }

    .form-group {
        margin-bottom: 15px;
    }

    .dxeButtonEditSys {
        width: 100% !important;
        height: 34px;
        margin-top: 4px;
    }
</style>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">

            <ul class="nav nav-tabs">
                <li class="active"><a data-toggle="tab" href="#details">Chi Tiết Hồ Sơ</a></li>
                @if (Model.Id > 0)
                {
                    <li><a data-toggle="tab" href="#images">Hình Ảnh</a></li>
                    <li><a data-toggle="tab" href="#schedule">Phụ Lục</a></li>
                    <li><a data-toggle="tab" href="#hoSoDuongSu">Hồ Sơ Đương Sự</a></li>
                }

            </ul>

            <div class="tab-content">

                <div id="details" class="tab-pane fade in active">
                    @using (Html.BeginForm((int)Model.Id > 0 ? "EditKhamTrinh" : "AddKhamTrinh", "HoSo", FormMethod.Post, new { @class = "custom-form", id = "form-hoso", enctype = "multipart/form-data" }))
                    {
                        @Html.HiddenFor(m => m.Id)
                        @Html.HiddenFor(m => m.LoaiHoSoId)
                        @Html.AntiForgeryToken()
                        <div class="row">
                            <div class="col-md-12">
                                <button id="btn-save-ho-so" style="width: 70px;margin-left: 5px" class="btn btn-primary pull-right"> <i class="fa fa-floppy-o"></i> Lưu </button>
                                @if (Model.Id > 0)
                                {
                                    <a target="_blank" href="@Url.Action("DownloadFile","HoSo", new { id = Model.Id, type = "docx"})" class="btn btn-primary pull-right"><i class="fa fa-download"></i> Tải xuống</a>
                                    <a target="_blank" href="@Url.Action("DownloadFile","HoSo", new { id = Model.Id, type = "html" })" class="btn btn-primary pull-right"><i class="fa fa-print"></i> In</a>
                                }
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <span class="control-label">Số Hồ Sơ:</span>
                                    @Html.EditorFor(model => model.SoHoSo, new { htmlAttributes = new { @class = "form-control", id = "SoHoSo", maxlength = "15" } })
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="avatar-wrap col-md-3">
                                <div class="avatar-upload-zone">
                                    <input id="avatarUpload" accept="image/jpeg, image/png" onchange="ShowImagePreview(this,document.getElementById('imagePreview'))" name="Avatar" type="file" />
                                    <label for="avatarUpload">
                                        <img src="@(Model.Id > 0 ? "/Data/BenhNhan/Avatar/" + Model.ThongTinBenhNhan.ThongTinCaNhan.AvatarName : "")" alt="" id="imagePreview" />
                                    </label>
                                </div>
                            </div>
                            <div class="col-md-9">
                                <div class="row">
                                    <div class="col-md-8">
                                        <div class="form-group">
                                            <span class="control-label">Họ Tên Bệnh Nhân:</span>
                                            @Html.EditorFor(model => model.ThongTinBenhNhan.HoTen, new { htmlAttributes = new { @class = "form-control", id = "HoTenBenhNhan" } })
                                            @Html.HiddenFor(m => m.ThongTinBenhNhan.Id, new { id = "benhNhanId" })
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <span class="control-label">Năm sinh:</span>
                                            @Html.EditorFor(m => m.ThongTinBenhNhan.NamSinh)
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-8">
                                        <div class="form-group">
                                            <span class="control-label">Điện Thoại:</span>
                                            @Html.EditorFor(model => model.ThongTinBenhNhan.SoDt, new { htmlAttributes = new { @class = "form-control", id = "DienThoaiBenhNhan" } })
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <span class="control-label">Giới tính:</span>
                                            @(Html.Kendo().CheckBox().Name("ThongTinBenhNhan.GioiTinh").Checked(Model.ThongTinBenhNhan.GioiTinh).Label("Nam").HtmlAttributes(new { id = "GioiTinhBenhNhan" }))
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <span class="control-label">Địa chỉ:</span>
                                    @Html.EditorFor(model => model.ThongTinBenhNhan.DiaChi, new { htmlAttributes = new { @class = "form-control", id = "DiaChiBenhNhan" } })
                                </div>


                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <span class="control-label">Trình độ văn hóa:</span>
                                    @Html.EditorFor(model => model.ThongTinBenhNhan.ThongTinCaNhan.TrinhDoVanHoa, new { htmlAttributes = new { @class = "form-control", id = "TrinhDoVanHoaBenhNhan" } })
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <span class="control-label">Dân tộc:</span>
                                    @Html.EditorFor(model => model.ThongTinBenhNhan.ThongTinCaNhan.DanToc, new { htmlAttributes = new { @class = "form-control", id = "DanTocBenhNhan" } })
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <span class="control-label">Tôn giáo:</span>
                                    @Html.EditorFor(model => model.ThongTinBenhNhan.ThongTinCaNhan.TonGiao, new { htmlAttributes = new { @class = "form-control", id = "TonGiaoBenhNhan" } })
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <span class="control-label">Quốc tịch:</span>
                                    @Html.EditorFor(model => model.ThongTinBenhNhan.ThongTinCaNhan.QuocTich, new { htmlAttributes = new { @class = "form-control", id = "QuocTichBenhNhan" } })
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <span class="control-label">Nghề Nghiệp:</span>
                            @Html.EditorFor(model => model.ThongTinBenhNhan.ThongTinCaNhan.NgheNghiep, new { htmlAttributes = new { @class = "form-control", id = "NgheNghiepBenhNhan" } })
                        </div>
                        <div class="form-group">
                            <span class="control-label">Xảy ra ngày:</span>
                            @Html.EditorFor(model => model.NgayXayRa, new { htmlAttributes = new { @class = "form-control", id = "NguyenNhanXayRa" } })
                        </div>
                        <div class="form-group">
                            <span class="control-label">Tại:</span>
                            @Html.EditorFor(model => model.DiaDiemXayRa, new { htmlAttributes = new { @class = "form-control", id = "DiaDiemXayRa" } })
                        </div>
                        <div class="form-group">
                            <span class="control-label">Cơ quan trưng cầu:</span>
                            @Html.EditorFor(model => model.CoQuanTc, new { htmlAttributes = new { @class = "form-control", id = "CoQuanTrungCau" } })
                        </div>
                        <div class="form-group">
                            <span class="control-label">Số quyết định trưng cầu giám định:</span>
                            @Html.EditorFor(model => model.SoQuyetDinhTcgd, new { htmlAttributes = new { @class = "form-control", id = "SoQuyetDinhTcgd", maxlength = "5" } })
                        </div>
                        <div class="form-group">
                            <span class="control-label">Ngày quyết định trưng cầu giám định:</span>
                            @Html.EditorFor(m => m.NgayQuyetDinhTrungCau)
                        </div>
                        <div class="form-group">
                            <span class="control-label">Ngày giám định:</span>
                            @Html.EditorFor(m => m.NgayGiamDinh)
                        </div>
                        <div class="form-group">
                            <span class="control-label">Địa điểm giám định:</span>
                            @Html.EditorFor(model => model.DiaDiemGiamDinh, new { htmlAttributes = new { @class = "form-control", id = "DiaDiemGiamDinh" } })
                        </div>
                        <div class="form-group">
                            <span class="control-label">Bác sĩ giám định:</span>
                            @Html.EditorFor(model => model.BacSiGiamDinh, new { htmlAttributes = new { @class = "form-control", id = "BacSiGiamDinh" } })
                        </div>
                        <div class="form-group">
                            <span class="control-label">Hồ sơ - Nhân viên:</span>
                            <div id="listNhanVien">
                                @(Html.Kendo().MultiSelect()
                                                              .Name("NhanVienIds")
                                                              .DataTextField("TenNhanVien")
                                                              .DataValueField("NhanVienId")
                                                              .DataSource(source =>
                                                              {
                                                                  source.Read(read =>
                                                                  {
                                                                      read.Action("GetNhanVienMultiSelect", "NhanVien");
                                                                  });
                                                              })
                                                              .Value(ViewBag.NhanViens)
                                                              .Height(400)
                                                              .HeaderTemplate("<div class=\"dropdown-header k-widget k-header\">" +
                                                                              "<span>Tên Nhân Viên</span>" +
                                                                              "<span>Chức vụ</span>" +
                                                                              "</div>")
                                                              .FooterTemplate("Total <strong>#: instance.dataSource.total() #</strong> items found")
                                                              .ItemTemplate("<p class=\"item-template\"><span>#: data.TenNhanVien #</span> --- <span>#: data.TenChucVu #</span></p>")
                                                              .TagTemplate("<p class=\"tag-select-temp\"><span>#: data.TenNhanVien #</span> --- <span>#: data.TenChucVu #</span></p>")
                                )
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                @Html.HiddenFor(m => m.ContentFileName)
                                @if (Model.IsHaveContent == false)
                                {
                                    @Html.Action("RenderRichTextEditor", "HoSo", new { filePath = Model.ContentFileName })
                                }
                                else
                                {
                                    @Html.Action("RenderRichTextEditor", "HoSo", new { filePath = Server.MapPath(string.Format(ViewBag.HoSoPath, Model.Id) + Model.ContentFileName) })
                                }
                            </div>
                        </div>
                        <br />
                        <div class="row">
                            <div class="col-md-12">
                                <button id="btn-save-ho-so" style="width: 70px;margin-left: 5px" class="btn btn-primary pull-right"> <i class="fa fa-floppy-o"></i> Lưu </button>
                                @if (Model.Id > 0)
                                {
                                    <a target="_blank" href="@Url.Action("DownloadFile","HoSo", new { id = Model.Id, type = "docx"})" class="btn btn-primary pull-right"><i class="fa fa-download"></i> Tải xuống</a>
                                    <a target="_blank" href="@Url.Action("DownloadFile","HoSo", new { id = Model.Id, type = "html" })" class="btn btn-primary pull-right"><i class="fa fa-print"></i> In</a>
                                }
                            </div>
                        </div>}
                </div>
                <div id="images" class="tab-pane fade">
                    <div class="row">
                        <div class="col-md-12">
                            @(Html.Kendo().Upload()
                                                  .Name("files")
                                                  .Async(a => a
                                                      .Save("UploadImageAsyn", "HoSo", new { id = Model.Id })
                                                      .AutoUpload(true)
                                                  )
                            )
                        </div>
                    </div>

                    @if (Model.HoSoImageDtos != null && Model.HoSoImageDtos.Any())
                    {
                        <form action="@Url.Action("DownLoadFileSelect", "HoSo")" method="post" enctype="multipart/form-data">
                            @Html.AntiForgeryToken()
                            @Html.HiddenFor(m => m.Id)
                            <div class="row">
                                <div class="col-md-12 area-image">
                                    <div class="row">
                                        @for (var index = 0; index < Model.HoSoImageDtos.Count; index++)
                                        {
                                            var item = Model.HoSoImageDtos[index];
                                            <div class="img-item col-md-3 col-sm-6">
                                                <div class="wrapItem">
                                                    @Html.HiddenFor(m => Model.HoSoImageDtos[index].Id)
                                                    @Html.HiddenFor(m => Model.HoSoImageDtos[index].TenHinhAnh)
                                                    <img src="@(item.ImageUrl + ".ashx?w=300")" title="@item.TenHinhAnh" alt="@item.TenHinhAnh" />
                                                    <div class="action">
                                                        <a title="Xóa" class="delete-image" href="#" data-idimg="@item.Id"><i class="fa fa-trash"></i></a>
                                                        <a title="Tải xuống" href="@Url.Action("DownloadImage", "HoSo", new {id = item.Id})"><i class="fa fa-download"></i></a>
                                                    </div>
                                                    <div class="checkBox">
                                                        <div class="action-item">
                                                            @Html.Kendo().CheckBoxFor(m => Model.HoSoImageDtos[index].DuocChon)
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        }
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <button id="btn-save-file-select" style="margin-left: 5px" class="btn btn-primary pull-right"> <i class="fa fa-floppy-o"></i> Lưu Hình </button>
                                </div>
                            </div>
                        </form>
                    }
                </div>
                <div id="schedule" class="tab-pane fade">
                    <div class="phulucWrapTemp">
                        @if (!string.IsNullOrEmpty(Model.PhuLucTempate))
                        {
                            @Html.Raw(Model.PhuLucTempate)
                        }
                        else
                        {
                            @Html.Partial("~/Areas/Admin/Views/HoSo/KhamTrinh/template-khamtrinh.cshtml")
                        }
                    </div>
                    <div class="clr"></div>
                    <div class="text-right">
                        <a id="btn-print-template-phu-luc" class="btn btn-primary"><i class="fa fa-print"></i> In</a>
                        <a id="btn-add-template-phu-luc" class="btn btn-primary" data-id="@Model.Id">Lưu</a>
                    </div>
                </div>
                <div id="hoSoDuongSu" class="tab-pane fade">
                    <div class="hoSoDuongSuWrapTemp">
                        @if (!string.IsNullOrEmpty(Model.HoSoDuongSu))
                        {
                            @Html.Raw(Model.HoSoDuongSu)
                        }
                        else
                        {
                            @Html.Partial("~/Areas/Admin/Views/HoSo/KhamTrinh/template-ho-so-duong-su-khamtrinh.cshtml", Model)
                        }
                    </div>
                    <div class="clr"></div>
                    <div class="text-right">
                        <a id="btn-print-template-ho-so-duong-su" class="btn btn-primary"><i class="fa fa-print"></i> In</a>
                        <a id="btn-add-template-ho-so-duong-su" class="btn btn-primary" data-id="@Model.Id">Lưu</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
