﻿@using System.Web.Optimization
@using TranLe.PhapY.Web.Navigation

@model TranLe.PhapY.HoSos.Dto.HoSoKhamTrinhDto
@{
    ViewBag.Title = "Chỉnh sửa hồ sơ";
}
@{
    Layout = "~/Areas/Admin/Views/Layout/_Layout.cshtml";
}
@{
    ViewBag.CurrentPageName = PageNames.App.Tenant.HoSoKhamTrinhs;
}

@section scripts{
    @*<link href="~/css/easy-autocomplete.min.css" rel="stylesheet" />
        <script src="~/Scripts/EasyAutoComplete/jquery.easy-autocomplete.min.js"></script>*@

    @Scripts.Render("~/Areas/Admin/Views/HoSo/KhamTrinh/AddOrEditKhamTrinh.js")
}

@Html.Partial("~/Areas/Admin/Views/HoSo/KhamTrinh/AddOrEditKhamTrinh.cshtml", Model)