﻿@using TranLe.PhapY.Web.Helpers
@model TranLe.PhapY.HoSos.Dto.HoSoKhamTrinhDto
<style type="text/css">
    .clr {
        clear: both;
    }

    .wrapContainer {
        width: 640px;
        max-width: 100%;
        margin: 0 auto;
    }

    .containHeader {
        width: 100%;
    }

    .head-left {
        float: left;
    }

        .head-left p {
            text-align: left !important;
        }

    .head-right {
        float: right;
    }

    .wrapHeader {
        min-width: 150px;
        display: inline-block;
    }

        .wrapHeader p {
            margin: 0;
            text-align: center;
        }

    .wrapBody {
        float: left;
        width: 100%;
    }

        .wrapBody > h1.title {
            text-align: center;
            font-size: 20px;
            font-weight: bold;
        }

        .wrapBody ul {
            padding-left: 0;
        }

            .wrapBody ul li {
                list-style: none;
            }

                .wrapBody ul li.khac input[type="text"] {
                    width: calc(100% - 75px);
                }

        .wrapBody input[type="text"] {
            border: 0;
            border-bottom: 1px dotted #333;
            background: transparent;
        }

            .wrapBody input[type="text"]:focus {
                outline: none;
            }

        .wrapBody .finally {
            padding-left: 50px;
            font-weight: bold;
        }

            .wrapBody .finally input[type="text"] {
                width: 50px;
                text-align: center;
                background: transparent;
            }

    .wrapFoot {
        float: right;
    }

        .wrapFoot .text-center {
            text-align: center;
            font-style: italic;
        }

        .wrapFoot input[type="text"] {
            width: 50px;
            text-align: center;
            border: 0;
            border-bottom: 1px dotted #333;
            background: transparent;
        }

            .wrapFoot input[type="text"]:focus {
                outline: none;
            }

    .wrapBody ul.phulucColumn li {
        display: inline-block;
        vertical-align: top;
    }

    .wrapBody ul.phulucColumn4 li {
        width: calc(25% - 4px);
    }

    .wrapBody ul.phulucColumn6 li {
        margin-top: 20px;
        width: calc(16.6666% - 4px);
    }

    .wrapBody ul.phulucColumn3 li {
        width: calc(33.33333% - 4px);
        float: left;
        line-height: 24px;
    }

        .wrapBody ul.phulucColumn3 li label {
            width: calc(80% - 4px);
        }

    .wrapBody ul.phulucColumn2 li {
        width: calc(50% - 4px);
    }

        .wrapBody li > span > input[type="text"],
        .wrapBody ul.phulucColumn2 li input[type="text"],
        .wrapBody li.liColumnFoot ul li:first-child input[type="text"] {
            width: 50px;
            text-align: center;
        }

    .wrapBody li.liColumnFoot ul li:nth-of-type(3) input[type="text"],
    .wrapBody li.liColumnFoot ul li:nth-of-type(4) input[type="text"] {
        width: calc(100% - 125px);
    }

    .wrapBody li.liColumnFoot ul li:nth-of-type(5) input[type="text"] {
        width: calc(100% - 75px);
    }

    .sign p {
        width: calc(33.3333% - 4px);
        float: left;
    }
</style>
<div class="wrapContainer">
    <div class="containHeader">
        <div class="wrapHeader head-left">
            <p style="font-weight: bold">TRUNG TÂM PHÁP Y TP.HCM</p>
            <p>Địa chỉ: 336 Trần Phú, P.7, Q5</p>
            <p>Điện thoại: 39244435</p>
        </div>
        <div class="wrapHeader head-right">
            <p style="font-weight: bold">CỘNG HÒA XÃ HỘI CHỦ NGHĨA VIỆT NAM</p>
            <p style="font-weight: bold">Độc lập - Tự Do - Hạnh Phúc</p>
            <p>------o0o------</p>
            <p>Tp. Hồ Chí Minh, @Model.CreationTime.FormatNgayThangNam()</p>
        </div>
    </div>

    <div class="wrapBody">
        <h1 class="title">BIÊN NHẬN NHẬN HỒ SƠ</h1>
        <p style="text-align: right">Ngày đến làm hồ sơ: <input type="text"/></p>
        <p style="text-align: right">
            <input type="checkbox" id="checktaikham">
            <label for="checktaikham">Tái khám</label>
        </p>
        <p>- Trung Tâm Pháp Y Thành Phố Hồ Chí Minh đã nhận hồ sơ giám định của:</p>
        <p>Ông\Bà: @Model.ThongTinBenhNhan.HoTen</p>
        <p>Năm sinh: @Model.ThongTinBenhNhan.NamSinh.ToString("dd/MM/yyyy")</p>
        <p>- Cơ quan trung cầu: @Model.CoQuanTc</p>
        <p>- Hẹn 15 ngày sau khi nhận hồ sơ, cơ quan trưng cầu mang theo biên nhận này đến nhận kết quả(Ngoại trừ các trường hợp cần bổ túc hồ sơ).</p>
        <p>- Hồ sơ gồm:</p>
        <ul>
            <li>
                <ul class="phulucColumn phulucColumn3">
                    <li>
                        <label for="check29">+ Giấy QĐTCGĐ</label>
                        <input type="checkbox" id="check29">
                    </li>
                    <li>
                        <label for="check30">+ Giấy ra viện</label>
                        <input type="checkbox" id="check30">
                    </li>
                    <li>
                        <label for="check31">+ Giấy xác nhận nằm viện</label>
                        <input type="checkbox" id="check31">
                    </li>
                    <li>
                        <label for="check32">+ Giấy CNTT</label>
                        <input type="checkbox" id="check32">
                    </li>
                    <li>
                        <label for="check33">+ Toa thuốc</label>
                        <input type="checkbox" id="check33">
                    </li>
                    <li>
                        <label for="check34">+ Bệnh án tóm tắt</label>
                        <input type="checkbox" id="check34">
                    </li>
                    <li>
                        <label for="check40">+ Y chứng</label>
                        <input type="checkbox" id="check40">
                    </li>
                    <li>
                        <label for="check41">+ Sổ khám bệnh</label>
                        <input type="checkbox" id="check41">
                    </li>
                    <li>
                        <label>+ Khác:</label>
                        <input type="text">
                    </li>
                </ul>
            </li>
            <li>
                <ul class="phulucColumn phulucColumn6">
                    <li>
                        <input type="checkbox" id="check35">
                        <label for="check35">TT </label>
                    </li>
                    <li>
                        <input type="checkbox" id="check36">
                        <label for="check36">SK </label>
                    </li>
                    <li>
                        <input type="checkbox" id="check37">
                        <label for="check37">YC </label>
                    </li>
                    <li>
                        <input type="checkbox" id="check38">
                        <label for="check38">DT </label>
                    </li>
                    <li>
                        <input type="checkbox" id="check39">
                        <label for="check39">QHS </label>
                    </li>
                    <li>
                        <input type="checkbox" id="check42">
                        <label for="check42">TD </label>
                    </li>
                </ul>
            </li>
        </ul>
        <div class="finally">
            <span>NGƯỜI NHẬN HỒ SƠ</span>
        </div>
        <div class="sign">
            <p>Tổng số khám</p>
            <p>Chuyên khoa</p>
            <p>Họ và tên</p>
        </div>
    </div>
</div>