﻿@using Abp.Web.Mvc.Extensions
@using TranLe.PhapY.Authorization
@using TranLe.PhapY.Web.Navigation
@model TranLe.PhapY.Web.Areas.Admin.Models.Languages.LanguagesIndexViewModel
@{
    ViewBag.CurrentPageName = PageNames.App.Common.Languages;
}
@section Styles
{
    @Html.IncludeStyle("~/Areas/Admin/Views/Languages/Index.min.css")
}
@section Scripts
{
    @Html.IncludeScript("~/Areas/Admin/Views/Languages/_CreateOrEditModal.js")
    @Html.IncludeScript("~/Areas/Admin/Views/Languages/Index.js")
}
<div class="row margin-bottom-5">
    <div class="col-xs-6">
        <div class="page-head">
            <div class="page-title">
                <h1>
                    <span>@L("Languages")</span> <small>@L("LanguagesHeaderInfo")</small>
                </h1>
            </div>
        </div>
    </div>
    <div class="col-xs-6 text-right">
        @if (IsGranted(AppPermissions.Pages_Administration_Languages_Create))
        {
            <button id="CreateNewLanguageButton" class="btn btn-primary blue"><i class="fa fa-plus"></i> @L("CreateNewLanguage")</button>
        }
    </div>
</div>

<div class="portlet light margin-bottom-0">
    <div class="portlet-body">
        <div id="LanguagesTable"></div>
        @if (Model.IsTenantView)
        {
            <p class="margin-top-20">
                @("* " + L("CanNotEditOrDeleteDefaultLanguages"))
            </p>
        }
    </div>
</div>
