﻿@(Html.Kendo().Grid<TranLe.PhapY.HoSos.Dto.CheckBoxViewModel>()
        .Name("DanhSachNhanVienGridView")
        .Columns(columns =>
        {
            columns.Bound(c => c.NhanVienId)
                        .Title("")
                        .Sortable(false)
                        .Filterable(ftb => ftb.Enabled(false))
                        .Width(32)
                            .HeaderTemplate("<input type='checkbox' id='header-chb' class='k-checkbox header-checkbox'><label class='k-checkbox-label' for='header-chb'></label>")
                            .ClientTemplate("<input id=#=NhanVienId# type='checkbox' value='#=NhanVienId#' class='chkbox checkitem k-checkbox chkclick row-checkbox'><label class='k-checkbox-label checklabel' for=#=NhanVienId#></label>");
            columns.Bound(c => c.TenNhanVien)
            .Title("Tên nhân viên")
                        .Filterable(ftb => ftb.Cell(cell => cell.ShowOperators(false).Operator("contains").SuggestionOperator(FilterType.Contains)));
            columns.Bound(c => c.TenChucVu)
            .Title("Tên chức vụ")
                        .Filterable(ftb => ftb.Enabled(false));
        })
        .Scrollable()
        .Sortable()
        .PersistSelection()
        .Filterable(ftb => ftb.Mode(GridFilterMode.Row))
        .Pageable(pageable => pageable
        .Refresh(true)
        .PageSizes(true)
        .ButtonCount(5))
        .DataSource(dataSource => dataSource
            .Ajax()
            .PageSize(20)
            .Model(model =>
            {
                model.Id(p => p.NhanVienId);
            })
        .Read("GetNhanViensForPopup", "NhanVien")
    )
)
<button class="btn btn-default" id="btnChoiceItem">OK</button>
<script type="text/javascript">
    function gridIndex(data, dataSourceItem) {
        var dataSource = dataSourceItem;
        return _.indexOf(_.pluck(dataSource, 'NhanVienId'), data.NhanVienId);
    }
    $(document).ready(function () {
        var grid = $("#DanhSachNhanVienGridView").data("kendoGrid");
        function selectRow() {
            var checked = this.checked,
                row = $(this).closest("tr"),
                dataItem = grid.dataItem(row),
                arrDataItem = [];
            if (checked) {
                row.addClass("k-state-selected");
            } else {
                row.removeClass("k-state-selected");
            }
            console.log(dataItem);
        }

        $(document).on('click', '#btnChoiceItem', function () {
            
            var grid = $("#DanhSachNhanVienGridView").data("kendoGrid");
            debugger;
        });
        $("#listNhanVien").kendoGrid({
            dataSource: {
                data: [
                    { NhanVienId: 1, TenNhanVien: "AAA", TenChucVu: "BBBB" },
                    { NhanVienId: 2, TenNhanVien: "sdfsd", TenChucVu: "asf" }
                ],
                schema: {
                    model: {
                        id: "NhanVienId",
                        fields: {
                            NhanVienId: { type: "number" },
                            TenNhanVien: { type: "string" },
                            TenChucVu: { type: "string" }
                        }
                    }
                }
            },
            height: 150,
            scrollable: true,
            sortable: true,
            filterable: true,
            pageable: {
                input: true,
                numeric: false
            },
            columns: [
                {
                    field: "NhanVienId", title: "",
                    template: "<input type='hidden' "
                    + "name='NhanVienIds[#= gridIndex(data) #].NhanVienId' "
                    + "value='#= NhanVienId #' />",
                    hidden: true
                },
                { field: "TenNhanVien", title: "aa" },
                { field: "TenChucVu" }
            ]
        });

        grid.table.on("click", ".chkbox", selectRow);
        $('#header-chb').change(function (ev) {
            var checked = ev.target.checked;
            $('.row-checkbox').each(function (idx, item) {
                if (checked) {
                    if (!($(item).closest('tr').is('.k-state-selected'))) {
                        $(item).click();
                    }
                } else {
                    if ($(item).closest('tr').is('.k-state-selected')) {
                        $(item).click();
                    }
                }
            });
        });
    });

</script>