﻿@using Kendo.Mvc.UI
@using TranLe.PhapY.Authorization
@using TranLe.PhapY.HoSos.Dto
@using TranLe.PhapY.Web.Navigation
@using System.Web.Optimization

@{
    ViewBag.CurrentPageName = PageNames.App.Tenant.HoSoTuThis;
}
@{
    ViewBag.Tiltle = "Index";
    Layout = "~/Areas/Mpa/Views/Layout/_Layout.cshtml";
}

@Scripts.Render("~/Areas/Mpa/Views/HoSo/Index.js")
@section scripts{
    @*<script type="text/javascript">
            $(document).ready(function () {
                $('#btn-create-new-hoSo').click(function (e) {
                    e.preventDefault();
                    var wnd = $("#HoSoPopup").data("kendoWindow");
                    if (wnd) {
                        wnd.refresh({
                            url: "/HoSo/Add"
                        });
                        wnd.title("Thêm mới Hồ sơ");
                        wnd.center().open();
                        wnd.maximize();
                    }
                });
            });
        </script>*@
}
<div class="container-fluid">
    @if (IsGranted(AppPermissions.Pages_HoSoTuThi_Read))
    {
        <div class="row">
            <div class="col-md-12">
                <a id="btn-create-new-hoSo" class="btn btn-primary pull-right" href="@Url.Action("Add")"><i class="fa fa-plus"></i> Tạo mới Hồ sơ</a>
            </div>
        </div>
    }
    <div class="row margin-top-10">
        <div class="col-md-12">
            @(Html.Kendo().Grid<HoSoTuThiDto>
                      ()
                      .Name("hosoGrid")
                      .Deferred()
                      .Columns(columns =>
                      {
                      columns.Bound(c => c.SoHoSo)
                      .Title("Số hồ sơ")
                      .Filterable(ftb => ftb.Cell(cell => cell.ShowOperators(false).Operator("contains").SuggestionOperator(FilterType.Contains)))
                          .Width(100);
                      columns.Bound(c => c.SoQuyetDinhTcgd)
                      .Title("Số QĐTC")
                      .Filterable(ftb => ftb.Cell(cell => cell.ShowOperators(false).Operator("contains").SuggestionOperator(FilterType.Contains)))
                          .Width(100);
                      columns.Bound(c => c.CoQuanTc)
                      .Title("Cơ quan trưng cầu")
                      .Filterable(ftb => ftb.Cell(cell => cell.ShowOperators(false).Operator("contains").SuggestionOperator(FilterType.Contains)))
                          .Width(150);
                      columns.Bound(c => c.ThongTinBenhNhan.HoTen)
                      .Title("Họ tên bệnh nhân")
                      .Filterable(ftb => ftb.Cell(cell => cell.ShowOperators(false).Operator("contains").SuggestionOperator(FilterType.Contains)))
                          .Width(200);
                      columns.Bound(c => c.ThongTinBenhNhan.GioiTinh)
                      .Title("Giới tính")
                      .Filterable(ftb => ftb.Enabled(false))
                          .Width(100)
                      .ClientTemplate(@"# if(ThongTinBenhNhan.GioiTinh) { #" + "<b>Nam</b>" + "# } else { #" + "<b>Nữ</b>" + "#}#");
                      columns.Bound(c => c.ThongTinBenhNhan.DiaChi)
                      .Width(250)
                      .Title("Địa chỉ")
                      .Filterable(ftb => ftb.Cell(cell => cell.ShowOperators(false).Operator("contains").SuggestionOperator(FilterType.Contains)));
                      columns.Bound(c => c.ThongTinBenhNhan.NamSinh)
                      .Title("Ngày sinh")
                      .ClientTemplate("#= ThongTinBenhNhan.NamSinh ? kendo.toString(kendo.parseDate(ThongTinBenhNhan.NamSinh), 'MM/dd/yyyy') : '' #")
                      .Filterable(ftb => ftb.Enabled(false)).Width(150);
                      if (IsGranted(AppPermissions.Pages_HoSoTuThi_Update) || IsGranted(AppPermissions.Pages_HoSoTuThi_Delete))
                      {
                          columns.Command(command =>
                          {
                              if (IsGranted(AppPermissions.Pages_HoSoTuThi_Update))
                              {
                                  //command.Custom("Cập Nhập").Action("Edit", "HoSo");
                                  columns.Template(@<text>Cập Nhập</text>).ClientTemplate("<a href='" + Url.Action("Edit", "HoSo") + "/#=Id#'>Cập Nhập</a>");
                              }
                              if (IsGranted(AppPermissions.Pages_HoSoTuThi_Delete))
                              {
                                  command.Custom("Xóa").Click("deleteHoSo");
                              }
                          })
                      .Width(110);
                          }
                      })
                      .Scrollable(s => s.Enabled(true))
                      .Sortable()
                      .Filterable(ftb => ftb.Mode(GridFilterMode.Row))
                      .Pageable(pageable => pageable
                      .Refresh(true)
                      .PageSizes(new List<int>
                          { 20, 50, 100 }))
                          .DataSource(dataSource => dataSource
                          .Ajax()
                          .Sort(x => x.Add(s => s.Id).Descending())
                          .PageSize(20)
                          .Model(model =>
                          {
                              model.Id(p => p.Id);
                          })
                          .Read("GetHoSos", "HoSo")
                          )
            )
        </div>
    </div>
</div>
@(Html.Kendo().Window().Name("HoSoPopup")
          .Title("Distributor Details")
          .Visible(false)
          .Deferred()
          .Modal(true)
          .Events(e => e
              .Close("onHoSoPopupClose")
              .Open("onHoSoPopupOpen"))
          .Draggable(false)
)