﻿@using Abp.Application.Services.Dto
@using Abp.Extensions
@using Abp.Web.Mvc.Extensions
@using Abp.Timing;
@using TranLe.PhapY.Web.Navigation
@model TranLe.PhapY.Web.Areas.Admin.Models.HostSettings.HostSettingsViewModel
@{
    ViewBag.CurrentPageName = PageNames.App.Host.Settings;
}
@section Scripts
{
    @Html.IncludeScript("~/Areas/Admin/Views/HostSettings/Index.js")
}
<div class="row margin-bottom-5">
    <div class="col-xs-6">
        <div class="page-head">
            <div class="page-title">
                <h1>
                    <span>@L("Settings")</span> <small>@L("SettingsHeaderInfo")</small>
                </h1>
            </div>
        </div>
    </div>
    <div class="col-xs-6 text-right">
        <button id="SaveAllSettingsButton" class="btn btn-primary blue"><i class="fa fa-floppy-o"></i> @L("SaveAll")</button>
    </div>
</div>
<div class="portlet light margin-bottom-0">
    <div class="portlet-body">
        <div id="SettingsTabPanel" class="tabbable-line">
            <ul class="nav nav-tabs ">
                <li class="active">
                    <a href="#SettingsGeneralTab" data-toggle="tab" aria-expanded="true">
                        @L("General")
                    </a>
                </li>
                <li class="">
                    <a href="#SettingsTenantManagementTab" data-toggle="tab" aria-expanded="false">
                        @L("TenantManagement")
                    </a>
                </li>
                <li class="">
                    <a href="#SettingsUserManagementTab" data-toggle="tab" aria-expanded="false">
                        @L("UserManagement")
                    </a>
                </li>
                <li class="">
                    <a href="#SecurityManagementTab" data-toggle="tab" aria-expanded="false">
                        @L("Security")
                    </a>
                </li>
                <li class="">
                    <a href="#SettingsEmailSmtpTab" data-toggle="tab" aria-expanded="false">
                        @L("EmailSmtp")
                    </a>
                </li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane active" id="SettingsGeneralTab">
                    <form id="GeneralSettingsForm">
                        @if (Clock.SupportsMultipleTimezone)
                        {
                            <div class="form-group form-md-line-input form-md-floating-label no-hint">
                                @Html.DropDownList("Timezone", Model.TimezoneItems.Select(i => i.ToSelectListItem()), new { @class = "form-control edited" })
                                <label>@L("Timezone")</label>
                            </div>
                            <div>
                                @Html.Hidden("TimezoneForComparison", Model.Settings.General.TimezoneForComparison)
                            </div>
                        }
                    </form>
                </div>
                <div class="tab-pane" id="SettingsTenantManagementTab">
                    <form id="TenantManagementSettingsForm">
                        <h4>@L("FormBasedRegistration")</h4>
                        <div class="md-checkbox-list">
                            <div class="md-checkbox">
                                <input id="Setting_AllowSelfRegistration" class="md-check" type="checkbox" name="AllowSelfRegistration" value="true" @(Model.Settings.TenantManagement.AllowSelfRegistration ? "checked=\"checked\"" : "")>
                                <label for="Setting_AllowSelfRegistration">
                                    <span class="inc"></span>
                                    <span class="check"></span>
                                    <span class="box"></span>
                                    @L("AllowTenantsToRegisterThemselves")
                                </label>
                                <span class="help-block">@L("AllowTenantsToRegisterThemselves_Hint")</span>
                            </div>
                            <div class="md-checkbox">
                                <input id="Setting_IsNewRegisteredTenantActiveByDefault" class="md-check" type="checkbox" name="IsNewRegisteredTenantActiveByDefault" value="true" @(Model.Settings.TenantManagement.IsNewRegisteredTenantActiveByDefault ? "checked=\"checked\"" : "")>
                                <label for="Setting_IsNewRegisteredTenantActiveByDefault">
                                    <span class="inc"></span>
                                    <span class="check"></span>
                                    <span class="box"></span>
                                    @L("NewRegisteredTenantsIsActiveByDefault")
                                </label>
                                <span class="help-block">@L("NewRegisteredTenantsIsActiveByDefault_Hint")</span>
                            </div>
                            <div class="md-checkbox">
                                <input id="Setting_UseCaptchaOnRegistration" class="md-check" type="checkbox" name="UseCaptchaOnRegistration" value="true" @(Model.Settings.TenantManagement.UseCaptchaOnRegistration ? "checked=\"checked\"" : "")>
                                <label for="Setting_UseCaptchaOnRegistration">
                                    <span class="inc"></span>
                                    <span class="check"></span>
                                    <span class="box"></span>
                                    @L("UseCaptchaOnRegistration")
                                </label>
                            </div>
                        </div>
                        <div class="form-group form-md-line-input form-md-floating-label no-hint">
                            @Html.DropDownList("DefaultEditionId", Model.EditionItems.Select(i => i.ToSelectListItem()), new { @class = "form-control edited" })
                            <label for="DefaultEditionId">@L("Edition")</label>
                        </div>
                    </form>
                </div>
                <div class="tab-pane" id="SettingsUserManagementTab">
                    <form id="UserManagementSettingsForm">
                        <div class="md-checkbox-list">
                            <div class="md-checkbox">
                                <input id="Settings_IsEmailConfirmationRequiredForLogin" class="md-check" type="checkbox" name="IsEmailConfirmationRequiredForLogin" value="true" @(Model.Settings.UserManagement.IsEmailConfirmationRequiredForLogin ? "checked=\"checked\"" : "")>
                                <label for="Settings_IsEmailConfirmationRequiredForLogin">
                                    <span class="inc"></span>
                                    <span class="check"></span>
                                    <span class="box"></span>
                                    @L("EmailConfirmationRequiredForLogin")
                                </label>
                            </div>
                        </div>
                    </form>
                </div>
                <div id="SecurityManagementTab" class="tab-pane">
                    <div>
                        <h4>@L("PasswordComplexity")</h4>
                        <div class="md-checkbox-list">
                            <div class="md-checkbox">
                                <input id="Setting_PasswordComplexity_UseDefaultSettings" class="md-check" type="checkbox" name="UseDefaultSettings" value="true" @(Model.Settings.Security.UseDefaultPasswordComplexitySettings ? "checked=\"checked\"" : "")>
                                <label for="Setting_PasswordComplexity_UseDefaultSettings">
                                    <span class="inc"></span>
                                    <span class="check"></span>
                                    <span class="box"></span>
                                    @L("UseDefaultSettings")
                                </label>
                            </div>
                        </div>
                        <form id="PasswordComplexitySettingsForm" style="@(Model.Settings.Security.UseDefaultPasswordComplexitySettings ? "display:none;" : "")">
                            <div class="form-group form-md-line-input form-md-floating-label no-hint">
                                <input type="number" name="MinLength" class="form-control edited" value="@Model.Settings.Security.PasswordComplexity.MinLength">
                                <label>@L("MinPasswordLength")</label>
                            </div>
                            <div class="form-group form-md-line-input form-md-floating-label no-hint">
                                <input type="number" name="MaxLength" class="form-control edited" value="@Model.Settings.Security.PasswordComplexity.MaxLength">
                                <label>@L("MaxPasswordLength")</label>
                            </div>
                            <div class="md-checkbox-list">
                                <div class="md-checkbox">
                                    <input id="Setting_PasswordComplexity_UseNumbers" class="md-check" type="checkbox" name="UseNumbers" value="true" @(Model.Settings.Security.PasswordComplexity.UseNumbers ? "checked=\"checked\"" : "")>
                                    <label for="Setting_PasswordComplexity_UseNumbers">
                                        <span class="inc"></span>
                                        <span class="check"></span>
                                        <span class="box"></span>
                                        @L("UseNumbers")
                                    </label>
                                </div>
                                <div class="md-checkbox">
                                    <input id="Setting_PasswordComplexity_UseUpperCaseLetters" class="md-check" type="checkbox" name="UseUpperCaseLetters" value="true" @(Model.Settings.Security.PasswordComplexity.UseUpperCaseLetters ? "checked=\"checked\"" : "")>
                                    <label for="Setting_PasswordComplexity_UseUpperCaseLetters">
                                        <span class="inc"></span>
                                        <span class="check"></span>
                                        <span class="box"></span>
                                        @L("UseUpperCaseLetters")
                                    </label>
                                </div>
                                <div class="md-checkbox">
                                    <input id="Setting_PasswordComplexity_UseLowerCaseLetters" class="md-check" type="checkbox" name="UseLowerCaseLetters" value="true" @(Model.Settings.Security.PasswordComplexity.UseLowerCaseLetters ? "checked=\"checked\"" : "")>
                                    <label for="Setting_PasswordComplexity_UseLowerCaseLetters">
                                        <span class="inc"></span>
                                        <span class="check"></span>
                                        <span class="box"></span>
                                        @L("UseLowerCaseLetters")
                                    </label>
                                </div>
                                <div class="md-checkbox">
                                    <input id="Setting_PasswordComplexity_UsePunctuations" class="md-check" type="checkbox" name="UsePunctuations" value="true" @(Model.Settings.Security.PasswordComplexity.UsePunctuations ? "checked=\"checked\"" : "")>
                                    <label for="Setting_PasswordComplexity_UsePunctuations">
                                        <span class="inc"></span>
                                        <span class="check"></span>
                                        <span class="box"></span>
                                        @L("UsePunctuations")
                                    </label>
                                </div>
                            </div>
                        </form>
                        <form id="DefaultPasswordComplexitySettingsForm" style="@(!Model.Settings.Security.UseDefaultPasswordComplexitySettings ? "display:none;" : "")">
                            <div class="form-group form-md-line-input form-md-floating-label no-hint">
                                <input type="number" name="MinLength" class="form-control edited" value="@Model.Settings.Security.DefaultPasswordComplexity.MinLength" disabled>
                                <label>@L("MinPasswordLength")</label>
                            </div>
                            <div class="form-group form-md-line-input form-md-floating-label no-hint">
                                <input type="number" name="MaxLength" class="form-control edited" value="@Model.Settings.Security.DefaultPasswordComplexity.MaxLength" disabled>
                                <label>@L("MaxPasswordLength")</label>
                            </div>
                            <div class="md-checkbox-list">
                                <div class="md-checkbox">
                                    <input id="Setting_DefaultPasswordComplexity_UseNumbers" class="md-check" type="checkbox" name="UseNumbers" value="true" @(Model.Settings.Security.DefaultPasswordComplexity.UseNumbers ? "checked=\"checked\"" : "") disabled>
                                    <label for="Setting_DefaultPasswordComplexity_UseNumbers">
                                        <span class="inc"></span>
                                        <span class="check"></span>
                                        <span class="box"></span>
                                        @L("UseNumbers")
                                    </label>
                                </div>
                                <div class="md-checkbox">
                                    <input id="Setting_DefaultPasswordComplexity_UseUpperCaseLetters" class="md-check" type="checkbox" name="UseUpperCaseLetters" value="true" @(Model.Settings.Security.DefaultPasswordComplexity.UseUpperCaseLetters ? "checked=\"checked\"" : "") disabled>
                                    <label for="Setting_DefaultPasswordComplexity_UseUpperCaseLetters">
                                        <span class="inc"></span>
                                        <span class="check"></span>
                                        <span class="box"></span>
                                        @L("UseUpperCaseLetters")
                                    </label>
                                </div>
                                <div class="md-checkbox">
                                    <input id="Setting_DefaultPasswordComplexity_UseLowerCaseLetters" class="md-check" type="checkbox" name="UseLowerCaseLetters" value="true" @(Model.Settings.Security.DefaultPasswordComplexity.UseLowerCaseLetters ? "checked=\"checked\"" : "") disabled>
                                    <label for="Setting_DefaultPasswordComplexity_UseLowerCaseLetters">
                                        <span class="inc"></span>
                                        <span class="check"></span>
                                        <span class="box"></span>
                                        @L("UseLowerCaseLetters")
                                    </label>
                                </div>
                                <div class="md-checkbox">
                                    <input id="Setting_DefaultPasswordComplexity_UsePunctuations" class="md-check" type="checkbox" name="UsePunctuations" value="true" @(Model.Settings.Security.DefaultPasswordComplexity.UsePunctuations ? "checked=\"checked\"" : "") disabled>
                                    <label for="Setting_DefaultPasswordComplexity_UsePunctuations">
                                        <span class="inc"></span>
                                        <span class="check"></span>
                                        <span class="box"></span>
                                        @L("UsePunctuations")
                                    </label>
                                </div>
                            </div>
                        </form>
                    </div>

                    <div>
                        <h4>@L("UserLockOut")</h4>
                        <form id="UserLockOutSettingsForm">
                            <div class="md-checkbox-list">
                                <div class="md-checkbox">
                                    <input id="Setting_UserLockOut_IsEnabled" class="md-check" type="checkbox" name="IsEnabled" value="true" @(Model.Settings.Security.UserLockOut.IsEnabled ? "checked=\"checked\"" : "")>
                                    <label for="Setting_UserLockOut_IsEnabled">
                                        <span class="inc"></span>
                                        <span class="check"></span>
                                        <span class="box"></span>
                                        @L("EnableUserAccountLockingOnFailedLoginAttemts")
                                    </label>
                                </div>
                            </div>
                            <div class="form-group form-md-line-input form-md-floating-label no-hint">
                                <input type="number" name="MaxFailedAccessAttemptsBeforeLockout" class="form-control edited" value="@Model.Settings.Security.UserLockOut.MaxFailedAccessAttemptsBeforeLockout">
                                <label>@L("MaxFailedAccessAttemptsBeforeLockout")</label>
                            </div>
                            <div class="form-group form-md-line-input form-md-floating-label no-hint">
                                <input type="number" name="DefaultAccountLockoutSeconds" class="form-control edited" value="@Model.Settings.Security.UserLockOut.DefaultAccountLockoutSeconds">
                                <label>@L("DefaultAccountLockoutDurationAsSeconds")</label>
                            </div>
                        </form>
                    </div>

                    <div>
                        <h4>@L("TwoFactorLogin")</h4>
                        <form id="TwoFactorLoginSettingsForm">
                            <div class="md-checkbox-list">
                                <div class="md-checkbox">
                                    <input id="Setting_TwoFactorLogin_IsEnabled" class="md-check" type="checkbox" name="IsEnabled" value="true" @(Model.Settings.Security.TwoFactorLogin.IsEnabled ? "checked=\"checked\"" : "")>
                                    <label for="Setting_TwoFactorLogin_IsEnabled">
                                        <span class="inc"></span>
                                        <span class="check"></span>
                                        <span class="box"></span>
                                        @L("EnableTwoFactorLogin")
                                    </label>
                                </div>
                                <div class="md-checkbox">
                                    <input id="Setting_TwoFactorLogin_IsEmailProviderEnabled" class="md-check" type="checkbox" name="IsEmailProviderEnabled" value="true" @(Model.Settings.Security.TwoFactorLogin.IsEmailProviderEnabled ? "checked=\"checked\"" : "")>
                                    <label for="Setting_TwoFactorLogin_IsEmailProviderEnabled">
                                        <span class="inc"></span>
                                        <span class="check"></span>
                                        <span class="box"></span>
                                        @L("IsEmailVerificationEnabled")
                                    </label>
                                </div>
                                <div class="md-checkbox">
                                    <input id="Setting_TwoFactorLogin_IsSmsProviderEnabled" class="md-check" type="checkbox" name="IsSmsProviderEnabled" value="true" @(Model.Settings.Security.TwoFactorLogin.IsSmsProviderEnabled ? "checked=\"checked\"" : "")>
                                    <label for="Setting_TwoFactorLogin_IsSmsProviderEnabled">
                                        <span class="inc"></span>
                                        <span class="check"></span>
                                        <span class="box"></span>
                                        @L("IsSmsVerificationEnabled")
                                    </label>
                                </div>
                                <div class="md-checkbox">
                                    <input id="Setting_TwoFactorLogin_IsRememberBrowserEnabled" class="md-check" type="checkbox" name="IsRememberBrowserEnabled" value="true" @(Model.Settings.Security.TwoFactorLogin.IsRememberBrowserEnabled ? "checked=\"checked\"" : "")>
                                    <label for="Setting_TwoFactorLogin_IsRememberBrowserEnabled">
                                        <span class="inc"></span>
                                        <span class="check"></span>
                                        <span class="box"></span>
                                        @L("AllowToRememberBrowserForTwoFactorLogin")
                                    </label>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="tab-pane" id="SettingsEmailSmtpTab">
                    <form id="EmailSmtpSettingsForm">
                        <div class="form-group form-md-line-input form-md-floating-label no-hint">
                            <input type="email" name="DefaultFromAddress" class="form-control@(Model.Settings.Email.DefaultFromAddress.IsNullOrEmpty() ? "" : " edited")" value="@Model.Settings.Email.DefaultFromAddress" maxlength="@TranLe.PhapY.Authorization.Users.User.MaxEmailAddressLength">
                            <label>@L("DefaultFromAddress")</label>
                        </div>
                        <div class="form-group form-md-line-input form-md-floating-label no-hint">
                            <input type="text" name="DefaultFromDisplayName" class="form-control@(Model.Settings.Email.DefaultFromDisplayName.IsNullOrEmpty() ? "" : " edited")" value="@Model.Settings.Email.DefaultFromDisplayName" maxlength="128">
                            <label>@L("DefaultFromDisplayName")</label>
                        </div>
                        <div class="form-group form-md-line-input form-md-floating-label no-hint">
                            <input type="text" name="SmtpHost" class="form-control@(Model.Settings.Email.SmtpHost.IsNullOrEmpty() ? "" : " edited")" value="@Model.Settings.Email.SmtpHost" maxlength="64">
                            <label>@L("SmtpHost")</label>
                        </div>
                        <div class="form-group form-md-line-input form-md-floating-label no-hint">
                            <input type="number" name="SmtpPort" class="form-control edited" value="@Model.Settings.Email.SmtpPort" maxlength="5">
                            <label>@L("SmtpPort")</label>
                        </div>
                        <div class="md-checkbox-list">
                            <div class="md-checkbox">
                                <input id="Settings_SmtpEnableSsl" class="md-check" type="checkbox" name="SmtpEnableSsl" value="true" @Html.Raw(Model.Settings.Email.SmtpEnableSsl ? "checked=\"checked\"" : "")>
                                <label for="Settings_SmtpEnableSsl">
                                    <span class="inc"></span>
                                    <span class="check"></span>
                                    <span class="box"></span>
                                    @L("UseSsl")
                                </label>
                            </div>
                            <div class="md-checkbox">
                                <input id="Settings_SmtpUseDefaultCredentials" class="md-check" type="checkbox" name="SmtpUseDefaultCredentials" value="true" @Html.Raw(Model.Settings.Email.SmtpUseDefaultCredentials ? "checked=\"checked\"" : "")>
                                <label for="Settings_SmtpUseDefaultCredentials">
                                    <span class="inc"></span>
                                    <span class="check"></span>
                                    <span class="box"></span>
                                    @L("UseDefaultCredentials")
                                </label>
                            </div>
                        </div>
                        <div class="form-group form-md-line-input form-md-floating-label no-hint">
                            <input type="text" name="SmtpDomain" class="form-control@(Model.Settings.Email.SmtpDomain.IsNullOrEmpty() ? "" : " edited")" value="@Model.Settings.Email.SmtpDomain" maxlength="128">
                            <label>@L("DomainName")</label>
                        </div>
                        <div class="form-group form-md-line-input form-md-floating-label no-hint">
                            <input type="text" name="SmtpUserName" class="form-control@(Model.Settings.Email.SmtpUserName.IsNullOrEmpty() ? "" : " edited")" value="@Model.Settings.Email.SmtpUserName" maxlength="128">
                            <label>@L("UserName")</label>
                        </div>
                        <div class="form-group form-md-line-input form-md-floating-label no-hint">
                            <input type="password" name="SmtpPassword" class="form-control@(Model.Settings.Email.SmtpPassword.IsNullOrEmpty() ? "" : " edited")" value="@Model.Settings.Email.SmtpPassword" maxlength="128">
                            <label>@L("Password")</label>
                        </div>
                        <hr />
                        <h4>@L("TestEmailSettingsHeader")</h4>
                        <div class="row">
                            <div class="form-group form-md-line-input has-info form-md-floating-label col-md-4">
                                <input id="TestEmailAddressInput" type="text" class="form-control input-sm" value="@ViewBag.CurrentUserEmail">
                            </div>
                            <div class="form-group form-md-line-input col-md-2">
                                <button id="SendTestEmailButton" class="btn green-haze" type="button">@L("SendTestEmail")</button>
                            </div>
                        </div>
                    </form>
                </div>

            </div>
        </div>
    </div>
</div>
