﻿@using System.Web.Optimization
@using TranLe.PhapY.Web.Navigation

@model TranLe.PhapY.HoSos.Dto.HoSoThuongTatDto
@{
    ViewBag.Title = "Thêm mới hồ sơ";
}
@{
    Layout = "~/Areas/Admin/Views/Layout/_Layout.cshtml";
}
@{
    ViewBag.CurrentPageName = PageNames.App.Tenant.HoSoThuongTats;
}

@section scripts{
    <link href="~/Content/easy-autocomplete.min.css" rel="stylesheet" />
    <script src="~/Scripts/EasyAutoComplete/jquery.easy-autocomplete.min.js"></script>

    @Scripts.Render("~/Areas/Admin/Views/HoSo/ThuongTat/AddOrEditThuongTat.js")
}


@Html.Partial("~/Areas/Admin/Views/HoSo/ThuongTat/AddOrEditThuongTat.cshtml", Model)