﻿<style type="text/css">
    .clr{
        clear: both;
    }
    .wrapContainer{
        width: 640px;
        max-width: 100%;
        margin: 0 auto;
    }
    .wrapHeader{
        min-width: 150px;
        display: inline-block;
    }
    .wrapHeader p{
        margin: 0;
        text-align: center;
    }
    .wrapBody{
        padding: 0 30px;
    }
    .wrapBody > h1.title {
        text-align: center;
        font-size: 20px;
        font-weight: bold;
    }
    .wrapBody ul {
        padding-left: 0;
    }
    .wrapBody ul li {
        list-style: none;
    }
    .wrapBody ul li.khac input[type="text"] {
        width: calc(100% - 75px);
    }
    .wrapBody input[type="text"] {
        border: 0;
        border-bottom: 1px dotted #333;
        background: transparent;
    }
    .wrapBody input[type="text"]:focus{
        outline: none;
    }
    .wrapBody .finally{
        padding-left: 50px;
        font-weight: bold;
    }
    .wrapBody .finally input[type="text"]{
        width: 50px;
        text-align: center;
        background: transparent;
    }
    .wrapFoot{
        float: right;
    }
    .wrapFoot .text-center{
        text-align: center;
        font-style: italic;
    }
    .wrapFoot input[type="text"] {
        width: 50px;
        text-align: center;
        border: 0;
        border-bottom: 1px dotted #333;
        background: transparent;
    }
    .wrapFoot input[type="text"]:focus{
        outline: none;
    }
    .wrapBody ul.phulucColumn li{
        display: inline-block;
        vertical-align: top;
    }
    .wrapBody ul.phulucColumn4 li{
        width: calc(25% - 4px);
    }
    .wrapBody ul.phulucColumn3 li{
        width: calc(33.33333% - 4px);
    }
    .wrapBody ul.phulucColumn2 li{
        width: calc(50% - 4px);
    }
    .wrapBody li > span > input[type="text"],
    .wrapBody ul.phulucColumn2 li input[type="text"],
    .wrapBody li.liColumnFoot ul li:first-child input[type="text"]{
        width: 50px;
        text-align: center;
    }
    .wrapBody li.liColumnFoot ul li:nth-of-type(3) input[type="text"],
    .wrapBody li.liColumnFoot ul li:nth-of-type(4) input[type="text"]{
        width: calc(100% - 125px);
    }
    .wrapBody li.liColumnFoot ul li:nth-of-type(5) input[type="text"]{
        width: calc(100% - 75px);
    }
</style>
<div class="wrapContainer">
	<div class="wrapHeader">
		<p>SỞ Y TẾ TP.HCM</p>
		<p>TRUNG TÂM PHÁP Y</p>
		<p>Số HS: 408/GPTT.12</p>
	</div>
	<div class="wrapBody">
		<h1 class="title">PHỤ LỤC DANH MỤC HỒ SƠ</h1>
		<ul>
			<li><input type="checkbox" id="check1"> 
				<label for="check1">Ban giám định y pháp.</label>
			</li>
			<li><input type="checkbox" id="check2"> 
				<label for="check2">Bản kết luận giám định pháp y về thương tích.</label>
			</li>
			<li><input type="checkbox" id="check3"> 
				<label for="check3">Quyết định trưng cầu giám định.</label>
			</li>
			<li><input type="checkbox" id="check4"> 
				<label for="check4">Bản sao CMND/ hộ chiếu.</label>
			</li>
			<li><input type="checkbox" id="check5"> 
				<label for="check5">Giấy ra viện.</label>
			</li>
			<li><input type="checkbox" id="check6"> 
				<label for="check6">Giấy chứng nhận thương tích.</label>
			</li>
			<li><input type="checkbox" id="check7"> 
				<label for="check7">Biên bản xem xét dấu vết cơ thể.</label>
			</li>
			<li>
				<ul class="phulucColumn phulucColumn3">
					<li><input type="checkbox" id="check8"> 
						<label for="check8">Sổ khám bệnh.</label>
					</li>
					<li><input type="checkbox" id="check9"> 
						<label for="check9">Toa thuốc.</label>
					</li>
					<li><input type="checkbox" id="check10"> 
						<label for="check10">Y chứng.</label>
					</li>
				</ul>
			</li>
			<li>
				<ul class="phulucColumn phulucColumn2">
					<li><input type="checkbox" id="check8"> 
						<label for="check11">Bệnh án tóm tắt.</label>
					</li>
					<li><input type="checkbox" id="check9"> 
						<label for="check12">Bản sao hồ sơ bệnh án.</label>
					</li>
					<li><input type="checkbox" id="check10"> 
						<label for="check13">Bệnh án cấp cứu.</label>
					</li>
					<li><input type="checkbox" id="check10"> 
						<label for="check14">Bệnh án ngoại chuẩn.</label>
					</li>
				</ul>
			</li>
			<li><input type="checkbox" id="check15"> 
				<label for="check15">XQ:</label>
				<span>A <input type="text"> tấm</span>;
				<span>B <input type="text"> tấm</span>
			</li>
			<li>
				<ul class="phulucColumn phulucColumn2">
					<li><input type="checkbox" id="check16">
						CT Scanner <input type="text"> tấm.
					</li>
					<li><input type="checkbox" id="check17">
						MRI <input type="text"> tấm.
					</li>
				</ul>
			</li>
			<li>
				<ul class="phulucColumn phulucColumn4">
					<li><input type="checkbox" id="check18">
						<label for="check18">EEG</label>
					</li>
					<li><input type="checkbox" id="check19">
						<label for="check19">EMG</label>
					</li>
					<li><input type="checkbox" id="check20">
						<label for="check20">ECG</label>
					</li>
					<li><input type="checkbox" id="check21">
						<label for="check21">CNHH</label>
					</li>
					<li><input type="checkbox" id="check22">
						<label for="check22">Siêu âm</label>
					</li>
					<li><input type="checkbox" id="check23">
						<label for="check23">Xét nghiệm</label>
					</li>
					<li><input type="checkbox" id="check24">
						<label for="check24">Nội soi</label>
					</li>
				</ul>
			</li>
			<li>
				<b>Khám chuyên khoa:</b>
			</li>
			<li>
				<ul class="phulucColumn phulucColumn4">
					<li><input type="checkbox" id="check25">
						<label for="check25">TMH</label>
					</li>
					<li><input type="checkbox" id="check26">
						<label for="check26">RHM</label>
					</li>
					<li><input type="checkbox" id="check27">
						<label for="check27">CTCH</label>
					</li>
					<li><input type="checkbox" id="check28">
						<label for="check28">Mắt</label>
					</li>
				</ul>
			</li>
			<li>
				<ul class="phulucColumn phulucColumn3">
					<li><input type="checkbox" id="check29"> 
						<label for="check29">Nội tim mạch.</label>
					</li>
					<li><input type="checkbox" id="check30"> 
						<label for="check30">Nội tiêu hóa.</label>
					</li>
					<li><input type="checkbox" id="check31"> 
						<label for="check31">Nội tiết.</label>
					</li>
					<li><input type="checkbox" id="check32"> 
						<label for="check32">Nội thần kinh.</label>
					</li>
					<li><input type="checkbox" id="check33"> 
						<label for="check33">Nội hô hấp.</label>
					</li>
					<li><input type="checkbox" id="check34"> 
						<label for="check34">BVNĐới.</label>
					</li>
				</ul>
			</li>
			<li class="liColumnFoot">
				<ul>
					<li><input type="checkbox" id="check35"> 
						<label for="check35">Sơ đồ phác họa dấu vết trên người bị nạn: </label>
						chụp <input type="text"> tấm hình.
					</li>
					<li><input type="checkbox" id="check36"> 
						<label for="check36">Biên bản giao nhận tài liệu giám định qua hồ sơ. </label>
					</li>
					<li><input type="checkbox" id="check37"> 
						<label for="check37">Giấy cam kết: </label>
						<input type="text">
					</li>
					<li><input type="checkbox" id="check38"> 
						<label for="check38">Công văn số: </label>
						<input type="text">
					</li>
					<li><input type="checkbox" id="check39"> 
						<label for="check39">Khác: </label>
						<input type="text">
					</li>
				</ul>
			</li>
		</ul>
		<div class="finally">
			<span>Tổng cộng:</span> <input type="text"> mục
		</div>
	</div>
	<div class="clr"></div>
	<div class="wrapFoot">
		<div class="text-center">
			<p>TPHCM, ngày <input type="text"> tháng <input type="text"> năm <input type="text"></p>
			<p>(ký và ghi rõ họ tên)</p>
		</div>
	</div>
</div>