﻿.js-right-sidebar {
    padding:15px 0 !important;
}
.js-right-sidebar > i {
    line-height:44px;
}
.demo-choose-skin {
    list-style: none;
    padding-left: 0;
    overflow-y: hidden;
}
.demo-choose-skin li {
    border-bottom: 1px solid #eee;
    padding: 10px 10px 4px 10px;
    position: relative;
    cursor: pointer;
}
.demo-choose-skin li div {
    width: 24px;
    height: 24px;
    display: inline-block;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    border-radius: 3px;
}
.demo-choose-skin li span {
    position: relative;
    bottom: 7px;
    left: 5px;
}
.demo-choose-skin li.active {
    background-color: #eee;
}
.demo-choose-skin li.active:after {
    font-family: 'Material Icons';
    position: absolute;
    top: 10px;
    right: 10px;
    content: '\E876';
    font-size: 18px;
    font-weight: bold;
}
.demo-choose-skin .BrightGray {
    background-color: #3B3F51;
}
.demo-choose-skin .Charade {
    background-color: #2C2D3A;
}
.demo-choose-skin .SanMarino {
    background-color: #3F51B5;
}
.demo-choose-skin .OrangePeel {
    background-color: #FF9800;
}
.demo-choose-skin .Green {
    background-color: #4CAF50;
}
.demo-choose-skin .Pomegranate {
    background-color: #F44336;
}
/* css tabs right-sidebar */
.right-sidebar .nav-tabs {
    font-weight: 600;
    font-size: 13px;
    width: 100%;
    margin-left: 2px;
}
.right-sidebar .nav-tabs {
    border-bottom: 2px solid #eee;
}
.right-sidebar .nav-tabs li:first-child {
    width: 45%;
}
.right-sidebar .nav-tabs li {
    text-align: center;
}
.right-sidebar .nav-tabs > li {
    position: relative;
    top: 3px;
    left: -2px;
}
.right-sidebar .nav-tabs li > a {
    margin-right: 0;
}
.right-sidebar .nav-tabs li.active a {
    color: #222 !important;
}
.right-sidebar .nav-tabs li.active a:before {
    -moz-transform: scaleX(1);
    -ms-transform: scaleX(1);
    -o-transform: scaleX(1);
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
}
.right-sidebar .nav-tabs > li > a:before {
    content: '';
    position: absolute;
    left: 0;
    width: 100%;
    height: 0;
    border-bottom: 2px solid #2196F3;
    bottom: 2px;
    -moz-transform: scaleX(0);
    -ms-transform: scaleX(0);
    -o-transform: scaleX(0);
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -moz-transition: 0.1s ease-in;
    -o-transition: 0.1s ease-in;
    -webkit-transition: 0.1s ease-in;
    transition: 0.1s ease-in;
}
.right-sidebar .nav-tabs li:last-child {
    width: 55%;
}
.right-sidebar .nav-tabs li {
    text-align: center;
}
.right-sidebar .nav-tabs + .tab-content {
    padding: 0;
}
.right-sidebar {
    width: 280px;
    height: calc(100vh - 70px);
    position: fixed;
    right: -300px;
    top: 70px;
    background: #fdfdfd;
    z-index: 11 !important;
    -webkit-box-shadow: -2px 2px 5px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: -2px 2px 5px rgba(0, 0, 0, 0.1);
    -ms-box-shadow: -2px 2px 5px rgba(0, 0, 0, 0.1);
    box-shadow: -2px 2px 5px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    -moz-transition: 0.5s;
    -o-transition: 0.5s;
    -webkit-transition: 0.5s;
    transition: 0.5s;
}
.right-sidebar.open {
    right: 0;
}
.right-sidebar .nav-tabs {
    font-weight: 600;
    font-size: 13px;
    width: 100%;
    margin-left: 2px;
}
.right-sidebar .nav-tabs li {
    text-align: center;
}
.right-sidebar .nav-tabs li > a {
    margin-right: 0;
}
.right-sidebar .nav-tabs li:first-child {
    width: 45%;
}
.right-sidebar .nav-tabs li:last-child {
    width: 55%;
}
.right-sidebar .nav-tabs > li > a {
    border: none !important;
    color: #999 !important;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    border-radius: 0;
}
/* custom kendoGrid Nhat05 */
.k-pager-sizes.k-label button {
    display: none !important;
}
.container-fluid#contentFluidKendo * {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
/*.area-image .img-item {
    height: 200px;
}
.area-image .img-item img {
    max-width: 100%;
    max-height: 150px;
}*/
.action .action-item {
    float: left;
    margin-right: 5px;
}
/**/
#images .area-image {
    margin-top: 30px;
}
#images .area-image .img-item .wrapItem {
    padding: 3px;
    border: 1px solid #ccc;
    border-radius: 3px;
    position: relative;
    margin-bottom: 30px;
}
#images .area-image .img-item .wrapItem:hover .action {
    opacity: 1;
}
#images .area-image .img-item .wrapItem .action a{
    color: #fff;
    font-size: 18px;
    padding: 0 5px;
    display: inline-block;
    vertical-align: top;
}
#images .area-image .img-item .wrapItem .action a:hover {
    color: #00ffff;
} 
#images .area-image .img-item .wrapItem img {
    width: 100%;
}
#images .area-image .img-item .wrapItem .checkBox {
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 9;
    width: 16px;
    height: 16px;
}
#images .area-image .img-item .wrapItem .checkBox .k-checkbox-label {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
}
#images .area-image .img-item .wrapItem .action {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 9;
    opacity: 0;
    transition: all 0.5s ease;
    background: rgba(0, 0, 0, 0.5);
    width: 100%;
    padding: 5px;
    text-align: right;
}
/**/
.avatar-wrap {
    padding-right: 0;
    margin-bottom: 15px;
}
.avatar-upload-zone {
    height: 220px;
    display: block;
    margin: 0 auto;
    position: relative;
}
.avatar-upload-zone input {
    width: 100%;
}
.avatar-upload-zone #livePreview img {
    max-width: 100%;
    max-height: 200px;
    display: block;
    margin: 0 auto;
}
#avatarUpload {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}
#avatarUpload + label {
    width: 100%;
    height: 100%;
    position: absolute;
    border: 2px dashed #ddd;
    cursor: pointer;
    overflow: hidden;
}
#avatarUpload + label > img {
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}