﻿@using TranLe.PhapY.Web.Helpers
@model TranLe.PhapY.HoSos.Dto.HoSoTuThiDto
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Bản in</title>
    <style type="text/css">
        .clr {
            clear: both;
        }

        #tempNote {
            font-size: 13pt;
            width: 650px;
            max-width: 100%;
            margin: 0 auto;
        }

            #tempNote p {
                margin: 10px 0;
            }

            #tempNote .headTemp .head-left,
            #tempNote .headTemp .head-right {
                text-align: center;
            }

                #tempNote .headTemp .head-left p {
                    font-size: 10pt;
                }

                #tempNote .headTemp .head-left h1,
                #tempNote .headTemp .head-left span,
                #tempNote .headTemp .head-right h1,
                #tempNote .headTemp .head-right span {
                    font-size: 13pt;
                    display: block;
                }

                #tempNote .headTemp .head-right p {
                    font-size: 11pt;
                }

            #tempNote .titleTemp {
                font-size: 16pt;
                text-align: center;
                margin: 25px 0;
            }

            #tempNote .bodyTemp .mainInfo tr {
                vertical-align: top;
            }

            #tempNote .bodyTemp .mainInfo .imgAva {
                width: 165px;
                border: 1px solid #000;
                vertical-align: middle;
                text-align: center;
            }
        #tempNote .bodyTemp .mainInfo .info {
                    padding-left: 10px;
                }
        #tempNote .bodyTemp .mainInfo .info table table {
            border-spacing: 0;
        }
            #tempNote .bodyTemp .mainInfo .info td {
                padding: 2px 0;
            }
            #tempNote .bodyTemp table tr td {
                vertical-align: top;
            } 
        #tempNote .bodyTemp p {
                margin-bottom: 0;
            } 
        #tempNote .footTemp .footItem {
                text-align: center;
            }

                #tempNote .footTemp .footItem h1 {
                    font-size: 13pt;
                }

                #tempNote .footTemp .footItem h1,
                #tempNote .footTemp .footItem p {
                    margin: 5px 0;
                }
    </style>
</head>

<body>
    <div id="tempNote">
        <table id="tableTemp" width="100%">
            <tr class="headTemp">
                <td>
                    <table width="100%">
                        <tr>
                            <td class="head-left" width="40%">
                                <p>SỞ Ý TẾ TP.HỒ CHÍ MINH</p>
                                <h1>TRUNG TÂM PHÁP Y</h1>
                                <span>Số: @Model.SoHoSo</span>
                            </td>
                            <td class="head-right">
                                <p><b>CỘNG HÒA XÃ HỘI CHỦ NGHĨA VIỆT NAM</b></p>
                                <h1><u>Độc lập - Tự do - Hạnh phúc</u></h1>
                                <span>Tp.Hồ Chí Minh, @Model.CreationTime.FormatNgayThangNam()</span>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr>
                <td>
                    <h1 class="titleTemp">BẢN KẾT LUẬN GIÁM ĐỊNH PHÁP Y TỬ THI</h1>
                </td>
            </tr>
            <tr class="bodyTemp">
                <td>
                    <table class="mainInfo" width="100%">
                        <tr>
                            <td class="imgAva">
                                <p>Ảnh nhận dạng cỡ 4x6</p>
                            </td>
                            <td class="info">
                                <table width="100%">
                                    <tr>
                                        <td width=""><b>Họ và tên: </b>@Model.ThongTinBenhNhan.HoTen</td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <table width="100%">
                                                <tr>
                                                    <td width="50%"><b>Năm sinh: </b>@Model.ThongTinBenhNhan.NamSinh.Year</td>
                                                    <td width="50%"><b>Giới tính: </b>@(Model.ThongTinBenhNhan.GioiTinh ? "Nam" : "Nữ")</td>
                                                </tr>
                                            </table>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td><b>Địa chỉ: </b>@Model.ThongTinBenhNhan.DiaChi</td>
                                    </tr>
                                    <tr><td><b>Trình độ văn hóa: </b>@Model.ThongTinBenhNhan.ThongTinCaNhan.TrinhDoVanHoa</td></tr>
                                    <tr>
                                        <td>
                                            <table width="100%">
                                                <tr>
                                                    <td width="50%"><b>Dân tộc: </b>@Model.ThongTinBenhNhan.ThongTinCaNhan.DanToc</td>
                                                    <td width="50%"><b>Quốc tịch: </b>@Model.ThongTinBenhNhan.ThongTinCaNhan.QuocTich</td>
                                                </tr>
                                            </table>
                                        </td>
                                    </tr>
                                    <tr><td><b>Tôn giáo: </b>@Model.ThongTinBenhNhan.ThongTinCaNhan.TonGiao</td></tr>
                                    <tr><td><b>Nghề nghiệp: </b>@Model.ThongTinBenhNhan.ThongTinCaNhan.NgheNghiep</td></tr>
                                    <tr><td><b>Xảy ra: </b>@Model.NguyenNhanXayRa</td></tr>
                                    <tr><td><b>Tại: </b>@Model.DiaDiemXayRa</td></tr>
                                </table>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr class="bodyTemp">
                <td>
                    <p>Căn cứ Quyết định trưng cầu giám định pháp y tử thi số @Model.SoQuyetDinhTcgd, @Model.NgayQuyetDinhTrungCau.FormatNgayThangNam() của <b>@Model.CoQuanTc</b></p>
                    <p>Được sự phân công của Giám đốc Trung tâm Pháp Y Tp.Hồ Chí Minh, chúng tôi:</p>
                </td>
            </tr>
            <tr class="bodyTemp">
                <td>
                    <table width="100%">
                        <tr>
                            <td>
                                <table width="100%">
                                    @foreach (var item in Model.NhanVienDtos)
                                    {
                                        <tr>
                                            <td>
                                                <table width="100%">
                                                    <tr>
                                                        <td width="40%">@((Model.NhanVienDtos.IndexOf(item) + 1) + ". " + item.HoTen)</td>
                                                        <td width="10px">: </td>
                                                        <td width="60%">@item.NameChucVu</td>
                                                    </tr>
                                                </table>
                                            </td>
                                        </tr>
                                    }
                                </table>
                            </td>
                        </tr>
                        <tr>
                            <td>Đã tiến hành giám định: <b>@Model.ThongTinBenhNhan.HoTen</b></td>
                        </tr>
                        <tr>
                            <td>Vào lúc @Model.NgayGiamDinh.FormatGioNgayThangNam() tại: @Model.DiaDiemGiamDinh</td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr>
                <td>
                    <table width="100%">
                        <tr>
                            <td>
                                @( Html.Raw(Html.Action("RenderContentHoSo", "HoSo", Model)))
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
    </div>
</body>

</html>