﻿<style type="text/css">
    .clr{
        clear: both;
    }
    .wrapContainer{
        width: 640px;
        max-width: 100%;
        margin: 0 auto;
    }
    .wrapHeader{
        min-width: 150px;
        display: inline-block;
    }
    .wrapHeader p{
        margin: 0;
        text-align: center;
    }
    .wrapBody{
        padding: 0 30px;
    }
    .wrapBody > h1.title {
        text-align: center;
        font-size: 20px;
        font-weight: bold;
    }
    .wrapBody ul {
        padding-left: 0;
    }
    .wrapBody ul li {
        list-style: none;
    }
    .wrapBody ul li.khac input[type="text"] {
        width: calc(100% - 75px);
    }
    .wrapBody input[type="text"] {
        border: 0;
        border-bottom: 1px dotted #333;
        background: transparent;
    }
    .wrapBody input[type="text"]:focus{
        outline: none;
    }
    .wrapBody .finally{
        padding-left: 50px;
        font-weight: bold;
    }
    .wrapBody .finally input[type="text"]{
        width: 50px;
        text-align: center;
        background: transparent;
    }
    .wrapFoot{
        float: right;
    }
    .wrapFoot .text-center{
        text-align: center;
        font-style: italic;
    }
    .wrapFoot input[type="text"] {
        width: 50px;
        text-align: center;
        border: 0;
        border-bottom: 1px dotted #333;
        background: transparent;
    }
    .wrapFoot input[type="text"]:focus{
        outline: none;
    }
</style>
<div class="wrapContainer">
    <div class="wrapHeader">
        <p>SỞ Y TẾ TP.HCM</p>
        <p>TRUNG TÂM PHÁP Y</p>
        <p>Số HS: 408/GPTT.12</p>
    </div>
    <div class="wrapBody">
        <h1 class="title">PHỤ LỤC DANH MỤC HỒ SƠ</h1>
        <ul>
            <li><input type="checkbox" id="check1"> 
                <label for="check1">Ban giám định y pháp tử thi.</label>
            </li>
            <li><input type="checkbox" id="check2"> 
                <label for="check2">Bản kết luận giám định pháp y về tử thi.</label>
            </li>
            <li><input type="checkbox" id="check3"> 
                <label for="check3">Quyết định trưng cầu giám định.</label>
            </li>
            <li><input type="checkbox" id="check4"> 
                <label for="check4">Giấy báo tử.</label>
            </li>
            <li><input type="checkbox" id="check5"> 
                <label for="check5">Giấy ướp xác.</label>
            </li>
            <li><input type="checkbox" id="check6"> 
                <label for="check6">Công hàm.</label>
            </li>
            <li><input type="checkbox" id="check7"> 
                <label for="check7">Hộ chiếu (visa).</label>
            </li>
            <li><input type="checkbox" id="check8"> 
                <label for="check8">Sơ đồ phác họa người bị nạn.</label>
            </li>
            <li><input type="checkbox" id="check9"> 
                <label for="check9">Xét nghiệm nồng độ rượu/máu.</label>
            </li>
            <li><input type="checkbox" id="check10"> 
                <label for="check10">Xét nghiệm morphin/máu.</label>
            </li>
            <li><input type="checkbox" id="check11"> 
                <label for="check11">Xét nghiệm sinh hóa.</label>
            </li>
            <li><input type="checkbox" id="check12"> 
                <label for="check12">Xét nghiệm HIV.</label>
            </li>
            <li><input type="checkbox" id="check13"> 
                <label for="check13">Phiếu xét nghiệm GPB khám nghiệm tử thi.</label>
            </li>
            <li><input type="checkbox" id="check14"> 
                <label for="check14">Biên bản xem xét dấu vết cơ thể.</label>
            </li>
            <li><input type="checkbox" id="check15"> 
                <label for="check15">Bản kết luận Giám Định Pháp Y về hóa pháp.</label>
            </li>
            <li class="khac"><input type="checkbox" id="check16"> 
                Khác: <input type="text">
            </li>
        </ul>
        <div class="finally">
            <span>Tổng cộng:</span> <input type="text"> mục
        </div>
    </div>
    <div class="clr"></div>
    <div class="wrapFoot">
        <div class="text-center">
            <p>TPHCM, ngày <input type="text"> tháng <input type="text"> năm <input type="text"></p>
            <p>(ký và ghi rõ họ tên)</p>
        </div>
    </div>
</div>